<div class="customFields index">
	<h2><?php echo __('Custom Fields'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('Label'); ?></th>
			<th><?php echo $this->Paginator->sort('Values'); ?></th>
<!--			<th>--><?php //echo $this->Paginator->sort('DataType'); ?><!--</th>-->
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($customFields as $customField): ?>
	<tr>
		<td><?php echo h($customField['CustomField']['id']); ?>&nbsp;</td>
		<td><?php echo h($customField['CustomField']['Label']); ?>&nbsp;</td>
		<td><?php if($customField['CustomField']['DataType'] ==21){echo '<textarea rows="10" cols="50">';} echo h($customField['CustomField']['Values']); echo '&nbsp;'; if($customField['CustomField']['DataType'] ==21){echo '</textarea>';}?></td>
<!--		<td>--><?php //echo h($customField['CustomField']['DataType']); ?><!--&nbsp;</td>-->
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $customField['CustomField']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $customField['CustomField']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $customField['CustomField']['id']), array(), __('Are you sure you want to delete # %s?', $customField['CustomField']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Custom Field'), array('action' => 'add')); ?></li>
	</ul>
</div>
