<?php $group = empty($group)?false:$group ?>
<tr class="contactrow <?php echo h($contact['Contact']['group_id']and $group?$contact['Contact']['group_id'].'group groupedcontact':'nogroup'); ?>">
    <td></td>
    <td><input id="<?php echo $contact['Contact']['Id'] ?>" name="row-1-age" value="<?php echo $contact['Contact']['Id'] ?>" type="checkbox"></td>
    <td><?php echo $this->Html->link(
            h($contact['Contact']['FirstName'].' '.$contact['Contact']['LastName']),
            array('action' => 'view', $contact['Contact']['Id']));?>&nbsp;</td>
    <td><?php echo h($contact['Contact']['Phone1']); ?>&nbsp;</td>
    <td><?php echo h($contact['Contact']['Company']); ?>&nbsp;</td>
    <td><?php echo h($contact['Contact']['Email']); ?>&nbsp;</td>
</tr>