
<tr class="grouprow">
    <td class="details-control expander-button"
        id="<?php echo h($contact['Group']['id']); ?>"></td>
    <td ></td>
    <td ><?php echo h($contact['Group']['name']); ?>&nbsp;</td>
    <td ></td>
    <td ></td>
    <td ></td>
</tr>
<?php
//debug($contact['Group']);
foreach ($contact['Group']['Contact'] as $member['Contact']){
//    if($member['Id']==$contact['Contact']['Id']){continue;}
    echo $this->element('display_row_elem',array('contact'=>$member));
} ?>
