<?php //print("<pre>".print_r($contact,true)."</pre>");
$this->assign('linkId', 'nav_user_groups');
//debug($groups);
?>
<div class="groups index wid90">
	<h2><?php echo __('Groups'); ?></h2>
    <?php echo $this->Html->link(__('New Group'), array('action' => 'add'), array('role' =>'button', 'class'=>'btn btn-success')); ?>
    <p></p>
	<table cellpadding="0" cellspacing="0">
	<tr>
<!--			<th>--><?php //echo $this->Paginator->sort('id'); ?><!--</th>-->
			<th><?php echo $this->Paginator->sort('name'); ?></th>
<!--			<th>--><?php //echo $this->Paginator->sort('modified'); ?><!--</th>-->
			<th><?php echo $this->Paginator->sort('created by'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($groups as $group): ?>
	<tr>
<!--		<td>--><?php //echo h($group['Group']['id']); ?><!--&nbsp;</td>-->
		<td><?php echo h($group['Group']['name']); ?>&nbsp;</td>
<!--		<td>--><?php //echo h($group['Group']['modified']); ?><!--&nbsp;</td>-->
		<td><?php echo h($group['CreatedBy']['username']); ?>&nbsp;</td>
		<td><?php echo h($group['Group']['created']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $group['Group']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $group['Group']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $group['Group']['id']), array(), __('Are you sure you want to delete # %s?', $group['Group']['name'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<!--<div class="actions">-->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Group'), array('action' => 'add')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
