.submit-no-format{
    font-weight: normal;
    padding: none;
    background: none;
    background-image: none;
    color: none;
    border: none;
    border-radius: none;
    text-decoration: none;
    text-shadow: none;
    min-width: 0;
    box-shadow: none;
    user-select: none;
}
fieldset .input-group{
    margin-bottom: 5px;
}

.input-group-addon {
    min-width:150px;// if you want width please write here //
    text-align:left;
}
.row{
    margin-bottom: 5px;
}
.form-group{
    margin-right: 5px;
}

.top10{
    margin-top: 10px;
}
div.form,
div.index,
div.view,
div.wid90{
    width: 90% ;
    margin: auto;
    float: none;
    border-left: none;
    padding: 0 ;
}

div.actions {
    display: none;
    /*float:left;*/
    /*width:16%;*/
    /*padding:10px 1.5%;*/
}

#content{
    clear: both;
    color: #333;
    PADDING-BOTTOM: 20px;
    WIDTH: 100%;
    min-height: 650px;
    height: auto !important;
    BACKGROUND-COLOR: white;
    font-size: 14px;
}
#footer {
    clear: both;
    padding: 6px 10px;
}

#content DIV.inner {
    PADDING-TOP: 10px;
    POSITION: relative;
    /*overflow: hidden;*/
    FONT-SIZE: 13px; /* changed */

}
#content P {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    FONT-SIZE: 13px; /* changed */

}

#footer {
    clear: both;
    width: 100%;
    /*position: fixed; */
    left: 0px; bottom: 0px;
    background: #2880e2 url(../img/footer-bg.gif) repeat-x 0px 0%;
}
.datatable {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin: auto;
}
body {
    font-size:90%;
    margin: 0;
}
/** Paging **/
.paging {
    background:#fff;
    color: #ccc;
    margin-top: 1em;
    clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block
}
.paging > span {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: 0;
}
.paging > span:hover {
    background: #efefef;
}
.paging .prev {
    border-left: 1px solid #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.paging .next {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.paging .disabled {
    color: #ddd;
}
.paging .disabled:hover {
    background: transparent;
}
.paging .current {
    background: #efefef;
    color: #c73e14;
}
textarea {
    /*clear: both;*/
    /*font-size: 140%;*/
    /*font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;*/
    /*padding: 1%;*/
    width:100%;
}


td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
td.shown {
    background: url('../img/details_close.png') no-repeat center center;
}
tr.groupedcontact,
tr.groupedcontact.odd{
    background: lightcyan !important;
    /*color: ;*/
}

/* Error display */
form .error {
    /*background: #FFDACC;*/
    /*-moz-border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*font-weight: normal;*/
}
form .error-message {
    /*-moz-border-radius: none;*/
    /*-webkit-border-radius: none;*/
    /*border-radius: none;*/
    /*border: none;*/
    /*background: none;*/
    /*margin: 0;*/
    /*padding-left: 4px;*/
    /*padding-right: 0;*/
}
form .error,
form .error-message {
    /*color: #9E2424;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*-ms-box-shadow: none;*/
    /*-o-box-shadow: none;*/
    /*box-shadow: none;*/
    /*text-shadow: none;*/
}

/** Notices and Errors **/
.message{
    clear: both;
    color: #F00;
    font-size: 140%;
    margin-left: 40px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
    /*background: #ffcc00;*/
    /*background-repeat: repeat-x;*/
    /*background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);*/
    /*background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));*/
    /*background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);*/
    /*background-image: -o-linear-gradient(top, #ffcc00, #E6B800);*/
    /*background-image: linear-gradient(top, #ffcc00, #E6B800);*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    margin-bottom: 18px;
    padding: 7px 14px;
    /*color: #404040;*/
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);*/
    /*-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);*/
    /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);*/
}
.success,
.message,
.cake-error,
p.error,
.error-message {
    clear: both;
    /*color: #fff;*/
    /*background: #c43c35;*/
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
    /*background-repeat: repeat-x;*/
    /*background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);*/
    /*background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));*/
    /*background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);*/
    /*background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);*/
    /*background-image: linear-gradient(top, #ee5f5b, #c43c35);*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);*/
}
.success {
    clear: both;
    /*color: #fff;*/
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
    /*background: #3B8230;*/
    /*background-repeat: repeat-x;*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));*/
    /*background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);*/
    /*background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);*/
    /*background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);*/
    /*background-image: -o-linear-gradient(top, #76BF6B, #3B8230);*/
    /*background-image: linear-gradient(top, #76BF6B, #3B8230);*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);*/
}
p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    font-weight: normal;
    line-height: 140%;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    color: #ff0000;
}