/* New Header Styles */
#header {
    width: 100%; height: 110px;
    background: url(../img/sevron-new-header-bg.gif) repeat-x 0px 0px;
}
.tab-pane {
    /*height: 150px;*/
    overflow: auto;
    min-height: 350px;
    max-height: 700px;

}
#header h1 {
    text-indent: -9000px;
    height:0px; width:0px;
}

#header .inner {
    height: 106px;
    padding: 0px 0px 4px;
}

#navigation {
    float: right;
    margin: 60px 0px 0px 0px;
    list-style: none;
}

/*#navigation li {*/
    /*float: left;*/
    /*margin: 0px 0px 0px 0px;*/
/*}*/

div.actions_set {
    float:left;
    width:16%;
    padding:10px 1.5%;
}

.bottom-buffer-10{
    margin-bottom: 10px;
}

#navigation li a {
    float: left;
    font-weight: normal;
    font: 13px "Trebuchet MS","Trebuchet MS",Helvetica,sans-serif;
    color: #3d3d3d; text-shadow: 0px 1px 0px #fff;
    padding: 0px 0px 0px 12px;
    cursor: pointer;
}

.bsform div {
     clear: none;
     margin-bottom: 0em;
     padding: 0em;
     vertical-align: none;
}
#navigation li a:hover {
    text-decoration: none;
    color: #0074b1;
}

#navigation li a span {
    display: inline-block;
    height: 26px;
    line-height: 24px;
    padding: 0 12px 0 0;
}

#navigation li.on a {
    color: #fff; text-shadow: 0px 1px 0px #37662b;
    background: url(../img/nav-bg.gif) no-repeat 0px 0px;
}

.dl-freestyle {
    width: auto;
    height: auto;
}
.dl-freestyle dd{
    height: auto;
    min-height: 45px;
    width: auto;
}
#navigation li.on a:hover {
    color: #fff;
}

#navigation li.on a span {
    background: url(../img/nav-bg.gif) no-repeat 100% -26px;
}

#logo {
    width: 138px; height: 52px; display: block; float: left;
    margin: 34px 0px 0px -10px; position: relative;
}

#logo-ypo {
    width: 90px; height: 81px; display: block; float: left;
    margin: 15px 0px 0px -10px; position: relative;
}

#strap {
    height: 91px; margin: 0px 0px 0px 10px;
}

#logo {
    width: 138px; height: 52px; display: block; float: left;
    margin: 19px 0px 0px 0px; position: relative;
    /*margin: 19px 0px 0px -24px; position: relative;*/
}

#strap nav {
    float: right;
    margin: 45px 0px 0px 0px;
}

#strap nav li {
    float: left;
    margin: 0;
}

#strap nav li a {
    float: left;
    font: 15px "Myriad Pro Semibold Condensed", Arial, Helvetica, sans-serif;
    color: #3d3d3d; text-shadow: 0px 1px 0px #fff;
    padding: 0px 0px 0px 12px;
    cursor: pointer;
}

#strap nav li a:hover {
    text-decoration: none;
    color: #0074b1;
}

#strap nav li a span {
    display: inline-block;
    height: 26px;
    line-height: 22px;
    padding: 0 12px 0 0;
}

#strap nav li.current-menu-item a,
#strap nav li.current_page_parent a,
#strap nav li.current-page-ancestor a {
    color: #fff; text-shadow: 0px 1px 0px #37662b;
    background: url(../img/nav-bg.gif) no-repeat 0px 0px;
}

#strap nav li.current-menu-item a:hover,
#strap nav li.current_page_parent a:hover,
#strap nav li.current-page-ancestor a:hover {
    color: #fff;
}

#strap nav li.current-menu-item a span,
#strap nav li.current_page_parent a span,
#strap nav li.current-page-ancestor a span {
    background: url(../img/nav-bg.gif) no-repeat 100% -26px;
}

.form-group{
    margin-right: 5px;
}
.top10{
    margin-top: 10px;
}
.wid90{
    width: 90% !important;
    margin: auto;
    float: none !important;
    border-left: none !important;
    padding: 0 !important;
}
DIV.inner {
    MARGIN: 0px auto;
    WIDTH: 90%;
    HEIGHT: 100%;
    TEXT-ALIGN: left
}

.datatable{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin: auto;
}
* {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
/****** Sevron App CSS *******/

.leftmenu{
width: 200px;
margin-top: 100px;
padding: 10px;
float: left;
}

#maincontent{
width: 1000px;
float: left;
}
.inline_form{
    padding-bottom: 10px;
}
.inline_form div{
    clear: none;
    margin-bottom: none;
    padding: none;
}
#usergreeting{
float: right;
margin-right: 20px;
}

a.info {
	position:relative; /*this is the key*/
	z-index:24;
	background-color:#ffffff;
	text-decoration:none
}
a.info:hover {
	z-index:25;
	background-color:#ff0
}
a.info span {
	display: none
}
a.info:hover span { /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:2em;
	left:2em;
	width:400px;
	border:1px solid #dddddd;
	background-color:#dddddd;
	color:#000000;
	text-align: left;
	text-decoration:none;
	padding:5px;
}
IMG {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}
INPUT {
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
    FONT-SIZE: 13px;
}
HTML {width:100%;height:100%;}
BODY {
	COLOR: #333333;
	width:100%;height:100%;
	BACKGROUND-COLOR: #fff;
	FONT-WEIGHT: normal;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
    FONT-SIZE: 13px;
}
H1 {
	FONT-WEIGHT: normal;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: normal;
	font-size:14px;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: normal;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif
}
/*A:link {*/
	/*FONT-WEIGHT: normal;*/
	/*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif*/
/*}*/
.errorlabel {
	FONT-WEIGHT: normal;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif
}
/*A:link {*/
	/*FONT-SIZE: 13px; *//* changed */
	/*COLOR: #333333*/
/*}*/
/*A:hover {*/
	/*FONT-SIZE: 13px; *//* changed */
	/*COLOR: #333333*/
/*}*/
/*A:visited {*/
	/*COLOR: #333333*/
/*}*/
.bluelink:link {
	/* FONT-SIZE: 13px; /* changed */ */
	COLOR: #36F;
	text-decoration:none;
}
.bluelink:visited {
	COLOR: #36F;
	text-decoration:underline;
}
.bluelink:hover {
	COLOR: #F00;
	text-decoration:underline;
}
.bluelinksmaller:link {
	COLOR: #36F;
	text-decoration:none;
	font-size:13px;
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
}
.bluelinksmaller:visited {
	COLOR: #36F;
	text-decoration:none;
	font-size:13px;
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
}
.bluelinksmaller:hover {
	COLOR: #F00;
	text-decoration:underline;
	font-size:13px;
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
}
.light_grey {
	color: #990;
}
P {
	FONT-SIZE: 13px; /* changed */
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
}
LI {
	FONT-SIZE: 13px; /* changed */
}
P.centered {
	MARGIN: 0px auto;
	TEXT-ALIGN: center
}

DIV.innerFULLWIDTH {
	MARGIN: 0px auto;
	WIDTH: auto;
	HEIGHT: 100%;
	TEXT-ALIGN: center;
}
DIV.title_home {
	LINE-HEIGHT: 30px;
	HEIGHT: 65px
}
DIV.title_home_hybrid {
	LINE-HEIGHT: 35px;
	HEIGHT: 35px
}
DIV.title {
	MARGIN-BOTTOM: 10px;
	HEIGHT: 35px
}
H1 {
	FONT-SIZE: 28px
}
H1 SPAN.grey {
	COLOR: #787878
}
SPAN.title_grey {
	FONT-SIZE: 27px;
	COLOR: #787878
}
/*
#header {
	WIDTH: 100%;
	HEIGHT: 113px;
	BACKGROUND-IMAGE: url(images/sevron-background.gif);
	BACKGROUND-REPEAT: repeat-x;
}
#header DIV.inner {
}
#header DIV.inner IMG.logo {
	PADDING-TOP: 0px;
	float:left;
	margin-top:60px;
}
#header h1 {
	text-indent: -5000px;
	height:0px;
	width:0px;
}
#header DIV.inner IMG.coshh365_logo {
	PADDING-TOP: 0px;
	clear:both;
	margin-bottom:10px;
	margin-top:15px;
}
*/





#content .inner strong {
	color: #3D3D3D;
	font: 13px "Trebuchet MS",Helvetica,sans-serif;
    font-weight:bold;
}

#content {
	FLOAT: left;
	PADDING-BOTTOM: 20px;
	WIDTH: 100%;
	min-height: 650px;
    height: auto !important;
    height: 650px;
	BACKGROUND-COLOR: white;
}
#content DIV.inner {
	PADDING-TOP: 10px;
	POSITION: relative;
    /*overflow: hidden;*/
    FONT-SIZE: 13px; /* changed */

}
#content P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
    FONT-SIZE: 13px; /* changed */

}
#content IMG.titleimage {
	MARGIN-BOTTOM: 10px
}
#content IMG.dottedline {
	MARGIN-BOTTOM: 15px
}
#content IMG.smalldottedline {
	DISPLAY: block;
	MARGIN: 10px auto
}
/*
#tagline {
	FLOAT: left;
	WIDTH: 100%;
	HEIGHT: 30px;
	BACKGROUND-COLOR: white
}
#notagline {
	FLOAT: left;
	WIDTH: 100%;
	HEIGHT: 30px;
	BACKGROUND-COLOR: white
}
#tagline DIV.inner {
	PADDING-LEFT: 90px;
	WIDTH: 860px;
	PADDING-TOP: 5px;
	POSITION: relative
}
#notagline DIV.inner {
	PADDING-LEFT: 90px;
	WIDTH: 860px;
	PADDING-TOP: 5px;
	POSITION: relative
}
#tagline DIV.inner IMG {
	Z-INDEX: 900;
	LEFT: -10px;
	POSITION: absolute;
	TOP: -20px
}
#notagline DIV.inner IMG {
	Z-INDEX: 900;
	LEFT: -10px;
	POSITION: absolute;
	TOP: 30px
}
#footer {
	WIDTH: 100%;
	HEIGHT: 65px;
	BACKGROUND-COLOR: #efeee9
}
#footer DIV.inner {
	PADDING-LEFT: 90px;
	WIDTH: 860px;
	LINE-HEIGHT: 125%;
	PADDING-TOP: 6px;
	HEIGHT: 50px
}
#footer DIV.inner A {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #666;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	TEXT-DECORATION: none
}
#footer DIV.inner A:hover {
	TEXT-DECORATION: underline
}
#footer DIV.inner DIV.small {
	PADDING-RIGHT: 7px;
	DISPLAY: inline;
	PADDING-LEFT: 7px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 9px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
#footer DIV.inner P {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #999;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}
#footer DIV.inner P A {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #999;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}
#footer DIV.inner A.unimportant {
	FONT-WEIGHT: normal
}
#footer IMG {
	PADDING-RIGHT: 10px;
	FLOAT: left;
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}
*/

/* New footer Styles */
#tagline,
#notagline {
	FLOAT: left; WIDTH: 100%;
	BACKGROUND-COLOR: white;
    margin: 20px 0px 0px;
}

#tagline .inner,
#notagline .inner {
	width: 940px; margin: 0px auto;
	POSITION: relative
}

#tagline .inner p,
#notagline .inner p {
	margin: 0px 0px 16px;
    text-align: center;
}

#tagline .inner IMG {
	Z-INDEX: 900;
	LEFT: -10px;
	POSITION: absolute;
	TOP: -20px
}

#notagline .inner IMG {
	Z-INDEX: 900;
	LEFT: -10px;
	POSITION: absolute;
	TOP: 30px
}

#footer {
	clear: both;
    width: 100%;
    /*position: fixed; */
    left: 0px; bottom: 0px;
	background: #008fc6 url(../img/footer-bg.gif) repeat-x 0px 0%;
}
/* Fixed footer hack for IE6... */
* html #footer {
   position: absolute;
   top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

#footer .inner {
	width: 215px; overflow: hidden;
    margin: 0 auto; padding: 20px 0px;
    text-align: center;
}

#footer .inner .alignleft {
	float: left;
}

#footer .inner .alignright {
	float: right;
}

#footer a {
	color: #b2d7e8;
}

#footer a:hover {
	color: #fff; text-decoration: none;
}

#footer-logo {
	width: 90px; height: 34px; display: block; float: left; margin: 12px 0px 0px;
	background: url(../img/sevron-footer-logo.png) no-repeat 0px 0px;
}
#footer-logo:hover {
	background-position: 0px -34px;
}

#footer-logo span {
	display: none;
}

#social {
	float: left; margin: 23px 0px 0px 40px; list-style: none;
}

#social li {
	float: left;
	font: 15px/15px "Trebuchet MS", "Trebuchet MS", Helvetica, sans-serif; color: #b2d7e8; text-shadow: 0px 1px 0px #005e89;
	margin: 0px 17px 0px 0px;
}

#social li a {
	float: left; padding: 6px 0px 7px 35px;
	display: block;
    font: 15px/15px "Trebuchet MS", "Trebuchet MS", Helvetica, sans-serif;
}

/*#social li.facebook a {*/
	/*background: url(../img/social-icons.png) no-repeat 0px 0px;*/
/*}*/
/*#social li.twitter a {*/
	/*background: url(../img/social-icons.png) no-repeat 0px -28px;*/
/*}*/
/*#social li.linkedin a {*/
	/*background: url(../img/social-icons.png) no-repeat 0px -56px;*/
/*}*/
/*#social li.email a {*/
	/*background: url(../img/social-icons.png) no-repeat 0px -84px;*/
/*}*/
/*#social li.rss a {*/
	/*background: url(../img/social-icons.png) no-repeat 0px -112px; *//* if we need it its here... *//* */
/*}*/

#social li.facebook a:hover {
	background-position: 0px -140px;
}
#social li.twitter a:hover {
	background-position: 0px -168px;
}
#social li.linkedin a:hover {
	background-position: 0px -196px;
}
#social li.email a:hover {
	background-position: 0px -224px;
}
#social li.rss a:hover {
	background-position: 0px -252px;
}

#footer-links {
	clear: both; width: 100%; display: inline-block;
	margin: 28px 0px 0px;
}

#footer-links p {
	font-size: 11px;
	color: #b2d7e8; text-shadow: 0px 1px 0px #005e89;
}

#footer-links p a {
	font-size: 11px;
	text-transform: capitalize;
}




TABLE.signup {
	BORDER-RIGHT: #f6f6f6 4px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #f6f6f6 4px solid;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #f6f6f6 4px solid;
	WIDTH: 490px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #f6f6f6 4px solid;
	BORDER-COLLAPSE: collapse;
	border-spacing: 0px
}
TABLE.signup TR.normalrow INPUT {
	BORDER-RIGHT: #dddddd 2px solid;
	BORDER-TOP: #dddddd 2px solid;
	PADDING-LEFT: 3px;
	BORDER-LEFT: #dddddd 2px solid;
	BORDER-BOTTOM: #dddddd 2px solid;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
TABLE.signup TR.normalrow TEXTAREA {
	BORDER-RIGHT: #dddddd 2px solid;
	BORDER-TOP: #dddddd 2px solid;
	PADDING-LEFT: 3px;
	BORDER-LEFT: #dddddd 2px solid;
	BORDER-BOTTOM: #dddddd 2px solid;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
TABLE.signup TD {
	PADDING-RIGHT: 0px;
	BORDER-TOP: #dddddd 1px dotted;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #dddddd 1px dotted
}
TABLE.signup A:link {
	FONT-SIZE: 12px;
	TEXT-DECORATION: underline
}
TABLE.signup A:hover {
	FONT-SIZE: 12px;
	TEXT-DECORATION: underline
}
TABLE.signup A:visited {
	FONT-SIZE: 12px;
	TEXT-DECORATION: underline
}
TABLE.blueboxes {
	TABLE-LAYOUT: fixed;
	MARGIN-LEFT: auto;
	WIDTH: 865px;
	MARGIN-RIGHT: auto;
	HEIGHT: 200px
}
TABLE.blueboxes TD {
	PADDING-RIGHT: 16px;
	PADDING-LEFT: 12px;
	BACKGROUND: url(..img/blue_box.gif) white no-repeat;
	VERTICAL-ALIGN: top;
	PADDING-TOP: 5px;
	TEXT-ALIGN: left
}
TABLE.blueboxes TD.bluebox2 {
	BACKGROUND: url(..img/blue_box2.gif) white no-repeat
}
TABLE.blueboxes TD P {
	FONT-SIZE: 11px;
	LINE-HEIGHT: 140%
}
TABLE.blueboxes DIV.number {
	PADDING-RIGHT: 8px;
	FONT-SIZE: 36px;
	FLOAT: left;
	COLOR: #c0c0c0;
	LINE-HEIGHT: 110%;
	PADDING-TOP: 7px;
	FONT-FAMILY: Times New Roman, Serif
}
TABLE.overview {
	TABLE-LAYOUT: fixed;
	MARGIN-BOTTOM: 15px;
	MARGIN-LEFT: auto;
	WIDTH: 936px;
	MARGIN-RIGHT: auto
}
TABLE.overview A:link {
	COLOR: #8397c5
}
TABLE.overview A:visited {
	COLOR: #8397c5
}
TABLE.overview A:hover {
	COLOR: #8397c5
}
TABLE.overview TD B {
	FONT-SIZE: 13px;
	COLOR: #808080
}
TABLE.overview TD {
	VERTICAL-ALIGN: top
}
TABLE.overview P.title {
	FONT-WEIGHT: normal;
	FONT-SIZE: 20px;
	LETTER-SPACING: 0.01em
}
TABLE.overview TD.column1 {
	WIDTH: 300px
}
TABLE.overview TD.column2 {
	PADDING-LEFT: 18px;
	WIDTH: 318px
}
TABLE.overview TD.column3 {
	WIDTH: 300px
}
TABLE.overview TR.row2 TD {
	PADDING-TOP: 10px
}
TABLE.overview TR.row2 TD.column3 {
	LINE-HEIGHT: 120%
}
TABLE.plans {
	BORDER-RIGHT: #f6f6f6 4px solid;
	TABLE-LAYOUT: fixed;
	BORDER-TOP: #f6f6f6 4px solid;
	MARGIN: 0px auto;
	BORDER-LEFT: #f6f6f6 4px solid;
	WIDTH: 940px;
	BORDER-BOTTOM: #f6f6f6 4px solid
}
TABLE.plans TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 13px; /* changed */
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #dddddd 1px dotted
}
TABLE.plans TR.lastrow TD {
	BORDER-BOTTOM-STYLE: none
}
.button {
	BORDER-RIGHT: #cdcdcd 2px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #cdcdcd 2px solid;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	BACKGROUND: url(..img/button_background.gif) #f5f5f5 repeat-x;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #cdcdcd 2px solid;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #cdcdcd 2px solid;
	FONT-FAMILY: Georgia;
	HEIGHT: 26px
}
IMG.quote {
	FLOAT: left;
	MARGIN-BOTTOM: 15px
}
#video {
	BORDER-RIGHT: #ecf5ff 10px solid;
	BORDER-TOP: #ecf5ff 10px solid;
	BORDER-LEFT: #ecf5ff 10px solid;
	WIDTH: 790px;
	BORDER-BOTTOM: #ecf5ff 10px solid
}
DIV.quote {
	FONT-SIZE: 20px;
	LINE-HEIGHT: 105%;
	LETTER-SPACING: 0.01em
}
DIV.quote_hybrid {
	FONT-SIZE: 13px; /* changed */
	LINE-HEIGHT: 105%;
	LETTER-SPACING: 0.01em
}
DIV.quote SPAN.bluequote {
	COLOR: gray
}
SPAN.bluebackground {
	BACKGROUND-COLOR: #edf5ff
}
#terms TEXTAREA {
	PADDING-LEFT: 15px
}
#error H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}
UL.advantages {
	MARGIN-TOP: 15px;
	MARGIN-BOTTOM: 5px;
	MARGIN-LEFT: 30px;
	LIST-STYLE-TYPE: disc
}
.circle_ul {
	list-style-type:disc;
}
UL.dots {
	MARGIN-LEFT: 30px;
	LIST-STYLE-TYPE: disc
}
OL.numbers {
	MARGIN-LEFT: 30px;
}
.panel {
	MARGIN-TOP: 15px;
	FONT-SIZE: 13px; /* changed */
}
#column1 {
	FLOAT: left;
	WIDTH: 440px
}
#column1 IMG.arrows {
	MARGIN-TOP: 5px;
	DISPLAY: block;
	MARGIN-BOTTOM: 15px
}
IMG.arrows_hybrid {
	MARGIN-TOP: 0px;
	DISPLAY: block;
	MARGIN-BOTTOM: 0px;
	float:left;
	margin-right:20px;
}
#column1 TABLE {
	WIDTH: 100%
}
#column1 A {
	TEXT-DECORATION: underline
}
#column1 TABLE TD {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 62px;
	FONT-SIZE: 13px; /* changed */
	PADDING-BOTTOM: 3px;
	VERTICAL-ALIGN: top
}
#column1 TABLE TD SPAN.smallfont {
	FONT-WEIGHT: bold;
	FONT-SIZE: 6px
}
#column1 TABLE TD B {
	COLOR: black
}
#column1 TABLE TD B.subtitle {
	COLOR: #666666
}
#column1 DIV.dottedline {
	BACKGROUND-IMAGE: url(coshh_assessment/line_dotted_repeat.jpg);
	MARGIN: 10px 0px;
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 1px
}
DIV.dottedline {
	BACKGROUND-IMAGE: url(coshh_assessment/line_dotted_repeat.jpg);
	MARGIN: 10px 0px;
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 1px
}
#column2 DIV.dottedline {
	BACKGROUND-IMAGE: url(coshh_assessment/line_dotted_repeat.jpg);
	MARGIN: 10px 0px;
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 1px
}
#column2 {
	FLOAT: right;
	WIDTH: 483px;
	POSITION: relative
}
#column2 DIV.login {
	MARGIN-BOTTOM: 30px;
	height:30px;
	width:450px;
	padding-top:0px;
	border:0px solid red;
}
#column2 DIV.login IMG {
	MARGIN-BOTTOM: 0px;
	MARGIN-RIGHT: 3px;
	MARGIN-LEFT: 24px;
}
#column2 DIV.login .submit {
	FLOAT: left;
	margin-left:5px;
	margin-top: 0px;
	MARGIN-BOTTOM: 0px;
	width:37px;
	height:37px;
	background: url(img/coshh/risk_assessment/pricelist_button_off.gif) no-repeat;
	border: none;
	padding:0px;
	cursor: hand !important;
}
#column2 DIV.login .submit:hover {
	background: url(img/coshh/risk_assessment/pricelist_button_on.gif) no-repeat;
}
#column2 DIV.login #email_address {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:205px;
	padding:3px;
	border:1px solid #292429;
}
#column2 DIV.login #name {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:120px;
	padding:3px;
	border:1px solid #292429;
}
DIV.login_form {
	MARGIN-BOTTOM: 30px;
	height:auto;
	width:auto;
	padding-top:0px;
	border:0px solid red;
}
DIV.login_form IMG {
	MARGIN-BOTTOM: 0px;
	MARGIN-RIGHT: 3px;
	MARGIN-LEFT: 24px;
}
DIV.login_form #email_address {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:205px;
	padding:3px;
	border:1px solid #292429;
}
DIV.login_form #name {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:150px;
	padding:3px;
	border:1px solid #292429;
}
DIV.login_form #phone {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:150px;
	padding:3px;
	border:1px solid #292429;
}
/*  Product video link */
DIV.watchvideo {
	RIGHT: 0px;
	WIDTH: 500px;
	POSITION: absolute;
	TOP: 20px;
	HEIGHT: 46px
}
.watchvideo DIV.login {
	MARGIN-BOTTOM: 0px;
	height:30px;
	width:460px;
	padding-top:0px;
	border:0px solid red;
}
.watchvideo DIV.login IMG {
	MARGIN-BOTTOM: 0px;
	MARGIN-RIGHT: 3px;
	MARGIN-LEFT: 41px;
}
.watchvideo DIV.login #email_address {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:205px;
	padding:3px;
	border:1px solid #292429;
}
.watchvideo DIV.login #name {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:120px;
	padding:3px;
	border:1px solid #292429;
}
.watchvideo DIV.login .submit {
	margin-left:5px;
	margin-top: 0px;
	margin-bottom: 0px;
	width:37px;
	height:37px;
	background: url(img/coshh/risk_assessment/pricelist_button_off.gif) no-repeat;
	border: none;
	padding:0px;
	cursor: hand !important;
}
.watchvideo DIV.login .submit:hover {
	background: url(img/coshh/risk_assessment/pricelist_button_on.gif) no-repeat;
}
#quick_submit IMG {
	MARGIN-BOTTOM: 0px;
	MARGIN-RIGHT: 3px;
	MARGIN-LEFT: 0px;
}
#quick_submit #email_address {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:205px;
	padding:3px;
	border:1px solid #292429;
}
#quick_submit #name {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:120px;
	padding:3px;
	border:1px solid #292429;
}
#quick_submit #phone {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:120px;
	padding:3px;
	border:1px solid #292429;
}
#quick_submit #email {
	font-size: 13px;
	color:#333333;
	font-weight:normal;
	margin-left:0px;
	width:200px;
	padding:3px;
	border:1px solid #292429;
}
#quick_submit .submit {
	margin-left:5px;
	margin-top: 0px;
	margin-bottom: 0px;
	width:37px;
	height:37px;
	background: url(img/coshh/risk_assessment/pricelist_button_off.gif) no-repeat;
	border: none;
	padding:0px;
	cursor: hand !important;
}
#quick_submit .submit:hover {
	background: url(img/coshh/risk_assessment/pricelist_button_on.gif) no-repeat;
}
#media {
	margin-top: 5px;
}
#noUpdate {
	margin: 0 auto;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: x-small;
	color: #cccccc;
	text-align: left;
	width: 210px;
	height: 200px;
	padding: 40px;
}
#column2 DIV.mainpicture {
	CLEAR: right;
	DISPLAY: inline;
	FLOAT: right;
	WIDTH: 483px
}
#column2 DIV.mainpicture IMG {
	WIDTH: 483px
}
#column2 DIV.quotetext {
	CLEAR: right;
	DISPLAY: inline;
	FONT-SIZE: 13px;
	FLOAT: right;
	WIDTH: 462px;
	MARGIN-RIGHT: 15px;

	FONT-STYLE: italic
}
#column2 DIV.quotetext SPAN.quoteauthor {
	MARGIN-TOP: 3px;
	FONT-SIZE: 11px;
	FLOAT: right;
	COLOR: gray;
	FONT-STYLE: normal
}
#column2 DIV.quotetext DIV.author {
	HEIGHT: 15px
}
TABLE.feedback {
	BORDER-RIGHT: #f6f6f6 4px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #f6f6f6 4px solid;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #f6f6f6 4px solid;
	WIDTH: 550px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #f6f6f6 4px solid;
	BORDER-COLLAPSE: collapse;
	border-spacing: 0px
}
TABLE.feedback TD {
	PADDING-RIGHT: 0px;
	BORDER-TOP: #dddddd 1px dotted;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	BORDER-BOTTOM: #dddddd 1px dotted
}
TABLE.feedback TD TABLE TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 3px;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 3px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}
#sidebar {
	PADDING-RIGHT: 100px;
	FONT-SIZE: 11px;
	FLOAT: right;
	WIDTH: 300px;
	COLOR: red
}
DIV.tourdottedline {
	BACKGROUND-IMAGE: url(coshh_assessment/line_dotted_repeat.jpg);
	MARGIN-BOTTOM: 5px;
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 1px
}
#mainsection {
	WIDTH: 790px;
	BACKGROUND-COLOR: aqua
}
.section-title {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px; /* changed */
	PADDING-BOTTOM: 5px;
	MARGIN: 10px 0px;
	WIDTH: 476px;
	PADDING-TOP: 5px;
	BACKGROUND-COLOR: #efefef
}
.errorlabel {
	FONT-SIZE: 18px;
	COLOR: red
}
#signup-price {
	BORDER-RIGHT: #f6f6f6 4px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #f6f6f6 4px solid;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
	RIGHT: 170px;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #f6f6f6 4px solid;
	WIDTH: 215px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #f6f6f6 4px solid;
	POSITION: absolute;
	TOP: 191px;
	HEIGHT: 110px
}
#signup-price IMG {
	DISPLAY: block;
	MARGIN-BOTTOM: 10px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto
}
#choosing_plan {
	BORDER-RIGHT: #f6f6f6 4px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #f6f6f6 4px solid;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
	RIGHT: 80px;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #f6f6f6 4px solid;
	WIDTH: 300px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #f6f6f6 4px solid;
	POSITION: absolute;
	TOP: 123px;
	HEIGHT: 640px
}
#buynow-plans IMG {
	DISPLAY: block;
	MARGIN-BOTTOM: 10px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto
}
#credit-card-announcement {
	BORDER-RIGHT: #f6f6f6 4px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #f6f6f6 4px solid;
	PADDING-LEFT: 10px;
	FONT-SIZE: 12px;
	RIGHT: 170px;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #f6f6f6 4px solid;
	WIDTH: 215px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #f6f6f6 4px solid;
	POSITION: absolute;
	TOP: 450px;
	HEIGHT: 100px
}
#signup-price A:hover {
	FONT-SIZE: 12px
}
#buynow-plans A:hover {
	FONT-SIZE: 12px
}
#credit-card-announcement A:hover {
	FONT-SIZE: 12px
}
.question {
	MARGIN-TOP: 12px;
	DISPLAY: block;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px; /* changed */
	MARGIN-BOTTOM: 3px
}
.answer {
	FONT-SIZE: 13px; /* changed */
}
.list {
	MARGIN-TOP: 15px;
	PADDING-LEFT: 30px;
	MARGIN-BOTTOM: 15px;
	LIST-STYLE-TYPE: disc
}
.list LI {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px
}
DIV.blurb {
	DISPLAY: block;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px; /* changed */
	MARGIN: 0px 0px 15px 200px
}
.errorbox {
	MARGIN-TOP: 10px;
	WIDTH: 490px
}
DIV.error {
	FONT-SIZE: 12px;
	BACKGROUND: url(..img/error-background.jpg) no-repeat 0pt 0pt;
	COLOR: #666666
}
DIV.error DIV.error-inner {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 55px;
	BACKGROUND: url(..img/error-background-footer.jpg) no-repeat left bottom;
	PADDING-BOTTOM: 20px;
	PADDING-TOP: 10px
}
DIV.error H3 {
	FONT-WEIGHT: bold;
	COLOR: black
}
/*
#navigation {
	WIDTH: 100%;
	HEIGHT: 25px;
	BACKGROUND-COLOR: #25272a;
	font-family:Verdana, "Times New Roman", Times, serif;
}
#navigation LI {
	DISPLAY: block;
	FLOAT: left;

	LIST-STYLE-TYPE: none;
	HEIGHT: 23px;
	BACKGROUND-COLOR: #2c2f33
}
#navigation LI.on {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	BACKGROUND-IMAGE: url(/dhtmlx/imgs/tab-on.jpg);
	BORDER-LEFT: #fff 1px solid;
	BORDER-BOTTOM: #fff 1px solid;
	BACKGROUND-REPEAT: repeat-x
}
#navigation LI A {
	PADDING-RIGHT: 12px;
	DISPLAY: block;
	PADDING-LEFT: 12px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 5px;
	COLOR: #929395;
	PADDING-TOP: 5px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	TEXT-DECORATION: none
}
#navigation LI.on A {
	COLOR: #242424
}
#navigation LI.off {
	BORDER-RIGHT: #2c2f33 1px solid;
	BORDER-TOP: #2c2f33 1px solid;
	BORDER-LEFT: #2c2f33 1px solid;
	BORDER-BOTTOM: #2c2f33 1px solid
}
#navigation LI.off:hover {
	BACKGROUND-COLOR: #343639
}
#navigation LI.off:hover A {
	COLOR: #ebebeb
}
*/
#subnavigation {
	MARGIN-TOP: 10px;
	WIDTH: 100%;
	HEIGHT: 20px;
	BACKGROUND-COLOR: white
}
#subnavigation UL {
	WIDTH: 100%;
	HEIGHT: 20px;
	BACKGROUND-COLOR: white
}
#subnavigation UL LI {
	DISPLAY: block;
	FLOAT: left;
	LIST-STYLE-TYPE: none;
	HEIGHT: 20px;
	BACKGROUND-COLOR: white;
}
#subnavigation UL LI A {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px
}
/*s
#subnavigation UL A {
	FONT-SIZE: 11px; COLOR: #242424; FONT-FAMILY: Georgia, Helvetica, "Trebuchet MS", sans-serif; TEXT-DECORATION: none
}
#subnavigation UL LI.on {
	FONT-WEIGHT: bold
}
#subnavigation UL LI.off:hover A {
	BACKGROUND-COLOR: #edf5ff
}
#subnavigation UL LI.header A {
	PADDING-LEFT: 0px; COLOR: #333333; TEXT-DECORATION: none
}
*/
#subnavigation UL LI.header IMG {
	MARGIN-BOTTOM: 1px;
	VERTICAL-ALIGN: bottom
}
/*------------------------------------------------------------*
**  Global
**------------------------------------------------------------*/
/*A:visited {*/
	/*FONT-SIZE: 13px;*/
	/*COLOR: #0033CC;*/
	/*text-decoration:none;*/
/*}*/
/*A:link {*/
	/*FONT-SIZE: 13px;*/
	/*COLOR: #0033CC;*/
	/*text-decoration:none;*/
/*}*/
/*A:hover {*/
	/*FONT-SIZE: 13px;*/
	/*COLOR: green;*/
	/*text-decoration:underline;*/
/*}*/
/*------------------------------------------------------------*
**  standard_table
**------------------------------------------------------------*/
.standard_table {
	margin: 0 auto;
	width: 100%;
	padding:0px;
	clear:both;
	height:auto;
}
.standard_table h1 {
	font-size: 13px;
	font-weight:bold;
	float:left;
	width: auto;
	padding-right: 0px;
	margin-top:17px;
}
.standard_table ul {
	float:right;
	margin-top:15px;
	margin-bottom: 5px;
}
.standard_table ul li {
	display: inline;
}
.standard_table span {
	float:left;
	margin-top:15px;
}
.standard_table img {
	padding: 0px;
	border: none;
	margin:none;
}
.Row_Blue {
	background-color: #EBF5FB;
}
.Row_White {
	background-color: #FFFFFF;
}
.Row_Red {
	background-color: #fdc7c7;
}
.standard_table p {
	clear:both;
	margin: 0px;
	padding: 0px;
}
.standard_table table {
	padding: 0px;
	border-collapse: collapse;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	width:100%;
}
.standard_table .header_row {
	background: url(img/table_top_bg.gif) repeat 0px 0;
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	height:35px;
}
.standard_table table td {
	margin: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	vertical-align: top;
}
.standard_table tr {
	margin: 0px;
	padding: 0px;
}
.standard_table .header_row th {
	font-weight: normal;
	margin: 0px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 15px;
}
.standard_table INPUT {
	BORDER-RIGHT: #dddddd 2px solid;
	BORDER-TOP: #dddddd 2px solid;
	PADDING-LEFT: 3px;
	BORDER-LEFT: #dddddd 2px solid;
	BORDER-BOTTOM: #dddddd 2px solid;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#666666;
	font-size: 13px;
}
/*------------------------------------------------------------*
**  data_entry_form
**------------------------------------------------------------*/
.data_entry_form {
	border:0px solid #000000;
	margin: 0 auto;
	width: 100%;
	padding:0px;
	clear:both;
	height:auto;
	margin-top:10px;
}
.data_entry_form h1 {
	font-size: 13px;
	font-weight:bold;
	float:left;
	width: auto;
	padding-right: 0px;
	margin-top:17px;
}
.data_entry_form h2 {
	font-size: 11px;
	font-weight:normal;
	float:left;
	width: auto;
	padding-right: 0px;
	margin-top:15px;
	border:0px solid #000000;
}
.data_entry_form #left_menu {
	clear:both;
	float:left;
	margin-top:15px;
	margin-bottom:0px;
	padding:0px;
	border:0px solid #000000;
}
.data_entry_form #right_menu {
	float:left;
	margin-left:0px;
	margin-top:15px;
	margin-bottom:0px;
	padding:0px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	border:0px solid #EBF5FB;
	margin-right:300px;
}
.data_entry_form #right_menu img {
	width: 20px;
	margin-bottom: -5px;
	padding:0px;
	border:0px solid #000000;
	padding-top:3px;
}
.data_entry_form .orange_ul {
	clear:left;
	margin: 0px;
	padding: 0px;
	border:0px solid #DF621C;
	border:0px solid #000000;
	height:auto;
}
.data_entry_form .orange_ul iframe {
	clear:both;
	margin: 0px;
	padding: 0px;
	border:none;
	width:100%;
	height:600px;
}
.data_entry_form .orange_ul .orange_li {
	text-indent:5px;
	padding-left:0px;
	margin-top:5px;
	display: block;
	background-color: #DF621C;
	border: 1px solid #DF621C;
	color: #FFFFFF;
	height: auto;
}
.data_entry_form .orange_ul .form_layout_table {
	text-align:left;
	clear:both;
	border:0px solid green;
	margin:0px;
	padding:0px;
	width:100%;
	height:auto;
	background-color:#FFFFFF;
	margin-top:1px;
}
.data_entry_form .orange_ul #tab_1 {
	display:block;
}
.data_entry_form .orange_ul #tab_2 {
	display:none;
}
.data_entry_form .orange_ul #tab_3 {
	display:none;
}
.data_entry_form .orange_ul #tab_4 {
	display:none;
}
.data_entry_form .orange_ul .orange_li .orange_li_link {
	padding-left:0px;
	margin-left:0px;
	color:#FFFFFF;
	text-decoration:none;
}
.data_entry_form .orange_ul .orange_li .orange_li_link:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.data_entry_form .orange_ul .form_layout_table th {
	font-weight:normal;
	vertical-align:top;
	color:#666666;
	border:0px solid #000000;
	margin:0px;
	padding-left:10px;
	padding-top:5px;
	width:170px;
	background-color:#EBF5FB;
}
.data_entry_form .orange_ul .form_layout_table .table_top {
	padding-top:15px;
}
.data_entry_form .orange_ul .form_layout_table .table_bottom {
	padding-bottom:15px;
}
.data_entry_form .orange_ul .form_layout_table td {
	color:#666666;
	border:0px solid #000000;
	padding-bottom:5px;
	margin:0px;
	padding-left:10px;
	padding-top:5px;
	width:auto;
	background-color:#FFFFFF;
}
.data_entry_form .orange_ul .form_layout_table td .inline_ul {
	margin:0px;
	padding:0px;
	max-width:550px;
}
.data_entry_form .orange_ul .form_layout_table td .inline_ul li {
	margin:0px;
	padding:0px;
	display:inline;
	white-space: nowrap;
}
.data_entry_form .orange_ul .form_layout_table td .block_ul {
	margin:0px;
	padding:0px;
}
.data_entry_form .orange_ul .form_layout_table td .block_ul li {
	margin:0px;
	padding:0px;
	display:block;
}
.data_entry_form .orange_ul p {
	clear:both;
	color:#666666;
	display: block;
	border:0px solid #000000;
	margin:0px;
	padding-left:15px;
	padding-top:10px;
	width:auto;
	height:auto;
	background-color:#FFFFFF;
}
.data_entry_form .orange_ul label {
	height:auto;
	float:left;
	display: block;
	width: 170px;
	border:0px solid #000000;
	background-color:#FFFFFF;
	margin: auto;
	padding-top:4px;
}
.data_entry_form .orange_ul input {
	color: #666666;
	font-size:11px;
	padding:2px;
}
.data_entry_form .orange_ul textarea {
	font-size:11px;
	color: #666666;
	padding:3px;
}
.table_inside_form {
	color:#666666;
	padding: 0px;
	border: 0px solid #DF621C;
	border-collapse: collapse;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width:100%;
}
.table_inside_form .header_row {
	background-color: #EBF5FB;
	text-align: left;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.table_inside_form td {
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	vertical-align: top;
}
.table_inside_form tr {
	margin: 0px;
	padding: 0px;
}
.table_inside_form .header_row th {
	color: #666666;
	font-weight: normal;
	margin: 0px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}
/*------------------------------------------------------------*
**  table in form
**------------------------------------------------------------*/
TABLE.aform {
	BORDER-RIGHT: #f6f6f6 4px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #f6f6f6 4px solid;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #f6f6f6 4px solid;
	WIDTH: 600px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #f6f6f6 4px solid;
	BORDER-COLLAPSE: collapse;
	border-spacing: 0px
}
TABLE.aform TR.normalrow INPUT {
	BORDER-RIGHT: #dddddd 2px solid;
	BORDER-TOP: #dddddd 2px solid;
	PADDING-LEFT: 3px;
	BORDER-LEFT: #dddddd 2px solid;
	BORDER-BOTTOM: #dddddd 2px solid;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#666666;
	font-size: 13px;
}
TABLE.aform TR.normalrow SELECT {
	BORDER-RIGHT: #dddddd 2px solid;
	BORDER-TOP: #dddddd 2px solid;
	PADDING-LEFT: 3px;
	BORDER-LEFT: #dddddd 2px solid;
	BORDER-BOTTOM: #dddddd 2px solid;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#666666;
	font-size: 13px;
}
TABLE.aform TR.normalrow TEXTAREA {
	BORDER-RIGHT: #dddddd 2px solid;
	BORDER-TOP: #dddddd 2px solid;
	PADDING-LEFT: 3px;
	BORDER-LEFT: #dddddd 2px solid;
	BORDER-BOTTOM: #dddddd 2px solid;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#666666;
	font-size: 13px;
}
TABLE.aform TD {
	PADDING-RIGHT: 0px;
	BORDER-TOP: #dddddd 0px dotted;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #dddddd 1px dotted
}
TABLE.aform .inline_ul {
	margin:0px;
	padding:0px;
	max-width:550px;
}
TABLE.aform .inline_ul li {
	margin:0px;
	padding:0px;
	display:inline;
	white-space: nowrap;
}
.hidden_field {
	display:none;
}
/*------------------------------------------------------------*
**  small_right_table
**------------------------------------------------------------*/
.small_right_table {
	float:left;
	margin: 0 auto;
	width: 325px;
	padding:0px;
	height:auto;
	margin-left:15px;
	margin-top:0px;
}
.small_right_table table {
	padding: 0px;
	border-collapse: collapse;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	width:325px;
}
.small_right_table .header_row {
	background: url(img/table_top_bg.gif) repeat 0px 0;
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	height:35px;
}
.small_right_table table td {
	margin: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	vertical-align: top;
}
.small_right_table tr {
	margin: 0px;
	padding: 0px;
}
.small_right_table .header_row th {
	font-weight: normal;
	margin: 0px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 15px;
}
/* Ethos Custom */
.link-blue:link {
	text-decoration:none;
	color:#06F;
}
.link-blue:visited {
	text-decoration:none;
	color:#06F;
}
.link-blue:hover {
	text-decoration:underline;
	color:#06F;
}
.link-blue:active {
	text-decoration:none;
	color:#06F;
}
body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px; /*font-size:75%;*/
	color:#666;
}
a {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
p {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	margin-bottom:0px;
}
select {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
textarea {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
input {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
td {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
.reportlist {
	list-style:none;
	margin-left:0px;
	display:block;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
}
.reportlist li {
	border:1px solid #C5D7D6;
	padding:0px;
	margin-bottom:8px;
	min-height:18px;
	background-image:url(dhtmlxLayout/codebase/imgs/dhxlayout_dhx_blue/dhxlayout_bg.png);
	color:#666;
	margin-left:0px;
}
.reportlist li span {
	padding:5px;
	color:#666;
}
.reportlist li .reportCompleted {
	margin-right:5px;
	background:url(img/icons/tick.gif) no-repeat right center;
	width:16px;
	height:16px;
}
.question {
	font-size:12px;
	margin-left:0px;
}
.answer {
	font-size:12px;
	margin-left:0px;
}
.answer input {
	font-size:12px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#666666;
}
.answer textarea {
	font-size:12px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#666666;
}
.answer select {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
.buttons {
	font-size:12px;
	margin-left:0px;
}
/* DEFINITION LIST PROGRESS BAR */

dl, dt, dd {
	margin:0;
	padding:0;
}
dd {
	width:216px;
	height:41px;
	background:url(progress_bar/bg_bar.gif) no-repeat 0 0;
	position:relative;
}
dd span {
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(progress_bar/bar.gif) no-repeat 0 0;
	top:8px;
	left:8px;
	overflow:hidden;
	text-indent:-8000px;
}
dd em {
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(progress_bar/bg_cover.gif) repeat-x;
	top:0;
}
/* SINGLE PROGRESS BAR */

.progressBar {
	width:216px;
	height:41px;
	background:url(progress_bar/bg_bar.gif) no-repeat 0 0;
	position:relative;
	top:15px;
	left:84px;
}
.progressBar span {
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(progress_bar/bar.gif) no-repeat 0 0;
	top:8px;
	left:8px;
	overflow:hidden;
	text-indent:-8000px;
}
.progressBar em {
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(progress_bar/bg_cover.gif) repeat-x 0 0;
	top:0;
}
div.gridbox {
	overflow:hidden;
	text-align:left
}
.dhx_sub_row {
	background-color:white
}
div.gridbox .xhdr {
	background-color:#D4D0C8
}
div.gridbox table.hdr td {
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:15px;
	background-Color:#D4D0C8;
	border: 1px solid;
	border-color : white Gray Gray white;
	text-align: center;
	margin:0px;
	padding:5px 0px 5px 0px;
	font-weight:normal;
	-moz-user-select:none;
	-moz-user-select:-moz-none;
	overflow:hidden;
	empty-cells:show
}
div.gridbox table.hdr td div.hdrcell {
	overflow:hidden
}
div.gridbox table.obj td {
	border: 1px solid;
	border-color : white Gray Gray white;
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:15px;
	-moz-user-select:none;
	-moz-user-select:-moz-none;
	overflow:hidden;
	padding-top:0px;
	padding-bottom:0px;
	empty-cells:show;
	vertical-align:middle
}
div.gridbox table.obj th, div.gridbox table.hdr th {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px
}
div.gridbox table.row20px tr td {
	height:20px;
	white-space: nowrap;
	padding:0px
}
div.gridbox .objbox {
	background-color:white;
	position:relative
}
div.gridbox table.obj td span.space, div.gridbox table.obj td img.space {
	width:18px
}
div.gridbox table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:#d8d8d8;
	color:black
}
div.gridbox table.obj tr.rowselected td {
	background-color:#e1e0d7;
	color:black
}
div.gridbox table.obj td.editable {
	-moz-user-select:text
}
div.gridbox table.obj td.group_row {
	vertical-align:middle;
	font-family:Tahoma;
	font-size:12pt;
	font-weight:bold;
	height:30px;
	border:0px;
	border-bottom: 2px solid navy;
}
.dragSpanDiv {
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:12px;
	border: 1px gray solid;
	background-color:white;
	z-index:999
}
.dhx_combo_select {
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:15px;
	border:1px solid;
	border-color:black silver silver black;
	background-color:white;
	overflow:hidden;
	cursor:default;
	position:absolute;
	height:auto;
	z-index:600
}
.dhx_combo_edit {
	width:100%;
	border:0px;
	padding:0px;
padding-right:1px !ie;
	margin:0px;
	font:12px "Trebuchet MS";
	overflow:hidden
}
.dhx_textarea {
	border:1px solid;
	border-color:black silver silver black;
	position:absolute;
	height:100px;
	z-index:600
}
.dhx_clist {
	background-color:white;
	border:1px solid black;
	padding:2px 2px 2px 2px;
	z-index:300
}
.gridDragLine {
	position:absolute;
	top:10px;
	left:0px;
	width:100%;
	height:2px;
	background-color:black;
	overflow:hidden
}
div.pagingBlock {
	font-size:12px;
	font-family:verdana, "Trebuchet MS"
}
div.pagingBlock .pagingCurrentPage {
	font-weight:bold;
	cursor:default
}
div.pagingBlock .pagingPage {
	cursor:pointer;
	text-decoration:underline
}
span.recordsInfoBlock {
	font-size:12px;
	font-family:georgia, "Trebuchet MS"
}
div.pagingBlock a {
	text-decoration:none;
	padding-right:2px;
	color:black;
	cursor:pointer
}
div.pagingBlock a.dhx_not_active {
	text-decoration:none;
	cursor:default
}
.toolbar_select {
	font-size:10px
}
.dhtmlxGrid_selection {
	-moz-opacity: 0.5;
	filter: alpha(opacity = 50);
	background-color:yellow;
	opacity:0.5;
	border: 1px dotted black
}
div.gridbox_xp {
	border:1px solid lightgrey
}
div.gridbox_xp .xhdr {
	background-image:url('/dhtmlx/imgs/header_bg_60.gif')
}
div.gridbox_xp table.hdr td {
	color:#616161;
	background-image:url('/dhtmlx/imgs/header_bg_60.gif');
	border:0px;
	text-align: center;
	margin:0px;
	padding:5px 0px 5px 0px;
	font-weight:bold;
	-moz-user-select:none;
	-moz-user-select:-moz-none;
	overflow:hidden
}
div.gridbox_xp table.hdr td div.hdrcell {
	border-left: 1px solid white;
	border-right: 1px solid gray;
	height:16px;
	white-space : nowrap;
	font-family:"Trebuchet MS";
	font-size:12px
}
div.gridbox_xp table.obj td {
	border:0px;
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	font-family:"Trebuchet MS";
	font-size:12px;
	-moz-user-select:none;
	-moz-user-select:-moz-none;
	overflow:hidden;
	padding-top:0px;
	padding-bottom:0px;
	vertical-align:middle
}
div.gridbox_xp table.obj tr.rowselected td {
	background-color:whitesmoke;
	color:black
}
div.gridbox_xp table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:whitesmoke
}
div.gridbox_xp table.row20px tr td {
	height:22px;
	white-space: nowrap;
	padding:1px
}
div.gridbox_gray {
	border:1px solid gray;
	background-color:#D4D0C8
}
div.gridbox_mt {
	border:1px solid lightgrey
}
div.gridbox_mt .dhx_sub_row {
	background-color:transparent
}
div.gridbox_mt .xhdr {
	background-image:url('/dhtmlx/imgs/header_bg.gif')
}
div.gridbox_mt .xhdr_last {
	border:0px;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey
}
div.gridbox_mt table.hdr td {
	color:#616161;
	border:0px;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	text-align: center;
	margin:0px;
	background-image:url('/dhtmlx/imgs/header_bg.gif');
	padding: 0px 0px 0px 0px;
	-moz-user-select:none;
	-moz-user-select:-moz-none;
	overflow:hidden
}
div.gridbox_mt table.hdr td div.hdrcell {
	height:16px;
	white-space : nowrap;
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:12px;
}
div.gridbox_mt table.obj td {
	border:0px;
	border-bottom: 1px solid lightgrey;
	border-right: 0px solid lightgrey;
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:12px;
	-moz-user-select:none;
	-moz-user-select:-moz-none;
	overflow:hidden;
	padding-top:0px;
	padding-bottom:0px;
	vertical-align:middle
}
div.gridbox_mt table.obj tr.rowselected td {
	background-color:#D6D3FA;
	color:black
}
div.gridbox_mt table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:#D6D3FA
}
div.gridbox_mt table.row20px tr td {
	height:22px;
	white-space: nowrap;
	padding:1px
}
div.gridbox div.ftr {
	position:absolute;
	left:0px;
	bottom:1px;
	width:100%;
	overflow:hidden
}
div.gridbox div.ftr td {
	padding:0px;
	padding-left:10px;
	padding-right:5px;
	border-top:1px solid gray;
	border-right:1px solid gray;
	background-color:#ffffcc;
	font-style : italic;
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:15px;
	overflow:hidden
}
div.gridbox table.hdr td.columnTargetR div.hdrcell {
	border-right:3px double #FF6600;
	border-left:3px solid #D4D0C8
}
div.gridbox table.hdr td.columnTargetL div.hdrcell {
	border-right:3px solid #D4D0C8;
	border-left:3px double #FF6600
}
.dhx_dragColDiv {
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:15px;
	background-color:#D4D0C8;
	border: 1px solid;
	border-color : white Gray Gray white;
	text-align: center;
	margin:0px;
	padding:5px 20px 5px 20px;
	font-weight:normal;
filter:alpha(opacity:75);
	-moz-opacity:0.75;
	opacity:0.75
}
div.gridbox_light {
	border:1px solid #c2d5dc
}
div.gridbox_light .xhdr {
	background-image:url(/dhtmlx/imgs/skin_light_header.png)
}
div.gridbox_light .xhdr_last {
	border: 1px solid;
	border-color : #FDFDFD #93AFBA #93AFBA #FDFDFD
}
div.gridbox_light table.hdr {
	background-image:url(/dhtmlx/imgs/skin_light_header.png)
}
div.gridbox_light table.hdr td {
	border: 1px solid;
	border-color : #FDFDFD #93AFBA #93AFBA #FDFDFD;
	background-color:transparent;
	/*font: 15px/14px "Trebuchet MS", Helvetica, sans-serif;*/
	color:#055A78;
	vertical-align:top;
	text-align:left
}
div.gridbox_light table.hdr td div.hdrcell {
	width:auto;
	padding-left:5px
}
div.gridbox_light table.hdr .filter {
	padding-left:0px !important;
	text-align:center;
	-moz-user-select:text
}
div.gridbox_light table.obj td {
	border-width: 0px 1px 0px 1px;
	border-left: 1px solid white;
	border-right: 1px solid #D6D6D6;
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
	/*font-family: "Trebuchet MS", Helvetica, sans-serif*/
	font-size:13px;
	padding-right:4px;
	padding-left:4px
}
div.gridbox_light table.obj {
	border-bottom: 1px solid #D6D6D6
}
div.gridbox_light table.row20px tr td {
	padding-right:4px;
	padding-left:4px
}
div.gridbox_light .dhx_combo_edit {
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-size:13px;
}
div.gridbox_light table.obj tr.rowselected td {
	background-color:#ededed;
	color:black
}
div.gridbox_light table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:#ededed
}
div.gridbox_light .odd_light {
	background-color:#E5F2F8
}
div.gridbox_light div.ftr td {
	empty-cells:show
}
div.gridbox_modern {
	border:1px solid #D6D6D6
}
div.gridbox_modern .dhx_sub_row {
	background-color:transparent
}
div.gridbox_modern .xhdr {
	background-image:url(/dhtmlx/imgs/skin_modern_header.png)
}
div.gridbox_modern .xhdr_last {
	border: 1px solid;
	border-color : #FDFDFD #B5B5B5 #B5B5B5 #FDFDFD
}
div.gridbox_modern table.hdr {
	background-image:url(/dhtmlx/imgs/skin_modern_header.png)
}
div.gridbox_modern table.hdr td {
	border-right:1px solid #B5B5B5;
	border-left:1px solid #FDFDFD;
	border-top:1px solid #FDFDFD;
	border-bottom:1px solid #B5B5B5;
	background-color:transparent;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#055A78;
	vertical-align:top;
	text-align:left
}
div.gridbox_modern table.hdr td div.hdrcell {
	width:auto;
	padding-left:10px
}
div.gridbox_modern table.hdr .filter {
	padding-left:0px !important;
	text-align:center
}
div.gridbox_modern table.obj td {
	border: 0px solid;
	font-family:Tahoma;
	font-size:11px;
	padding-right:4px;
	padding-left:4px
}
div.gridbox_modern table.row20px tr td {
	padding-right:4px;
	padding-left:4px
}
div.gridbox_modern .dhx_combo_edit {
	font-family:Tahoma;
	font-size:11px
}
div.gridbox_modern table.obj tr.rowselected td {
	background-color:#9ac2e5;
	color:black
}
div.gridbox_modern table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:#9ac2e5
}
div.gridbox_modern .odd_modern {
	background-color:#EDEDED
}
div.gridbox_modern div.ftr td {
	padding:0px;
	padding-left:10px;
	padding-right:5px;
	border-top:0px solid gray;
	border-right:0px solid gray;
	background-color:#ffffcc;
	font-style : italic;
	font-family:"Trebuchet MS";
	font-size:12px
}
div.gridbox_clear .xhdr {
	background-color:transparent
}
div.gridbox_clear div.topMumba {
	position:absolute;
	left:0px;
	width:100%;
	height:3px;
	background-image:url(/dhtmlx/imgs/skinC_header.png);
	overflow:hidden;
	padding:0px;
	margin:0px
}
div.gridbox_clear div.bottomMumba {
	position:absolute;
	left:0px;
	width:100%;
	height:3px;
	background-image:url(/dhtmlx/imgs/skinD_header.png);
	overflow:hidden
}
div.gridbox_clear div.bottomMumba img, div.gridbox_clear div.topMumba img {
	border:0px;
	position:absolute;
	top:0px
}
div.gridbox_clear {
	padding-left: 10px;
	padding-right: 10px
}
div.gridbox_clear table.hdr td {
	border:0px;
	background-color:transparent;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#055A78;
	vertical-align:top;
	text-align:left
}
div.gridbox_clear table.hdr td div.hdrcell {
	width:auto;
	padding-left:10px;
	padding-bottom:2px
}
div.gridbox_clear table.hdr .filter {
	padding-left:0px !important;
	text-align:center
}
div.gridbox_clear table.obj td {
	border-width: 0px 1px 0px 0px;
	border-color:#D6D6D6;
	font-family:Tahoma;
	font-size:11px;
	padding-right:4px;
	padding-left:4px
}
div.gridbox_clear table.row20px tr td {
	padding-right:4px;
	padding-left:4px
}
div.gridbox_clear .dhx_combo_edit {
	font-family:Tahoma;
	font-size:11px
}
div.gridbox_clear .odd_clear {
	background-color:#E5F2F8
}
div.gridbox_clear div.ftr td {
	padding:0px;
	padding-left:10px;
	padding-right:5px;
	border-top:1px solid gray;
	border-right:0px solid gray;
	background-color:#ffffcc;
	font-style : italic;
	font-family:"Trebuchet MS";
	font-size:12px
}
div.gridbox_sbdark .objbox {
	background: #313131 !important
}
div.gridbox_sbdark .xhdr {
	background-color:#313131
}
div.gridbox_sbdark .xhdr_last {
	border: 1px solid;
	border-color : #474948 #202220 #202220 #202220
}
div.gridbox_sbdark {
	background: #313131 !important;
}
div.gridbox_sbdark table {
	border-collapse: collapse
}
div.gridbox_sbdark table.hdr tr {
	border-top: 1px solid #202220
}
div.gridbox_sbdark table.hdr, div.gridbox_sbdark table.hdr td {
	border-right:1px solid #202220;
	border-left:1px solid #202220;
	border-top: 1px solid #474948;
	border-bottom:1px solid #202220;
	background-color: #313131;
	font-size:11px;
	color:#8A8F84;
	vertical-align:top;
	text-align:left;
	padding: 2px 5px
}
div.gridbox_sbdark .hdrcell {
	padding-left: 0px !important;
	font-family: 'Lucida Sans Unicode', 'Tahoma';
}
div.gridbox_sbdark table.hdr td div.hdrcell {
	width:auto;
	padding-left:10px
}
div.gridbox_sbdark table.obj td {
	border-width: 0px 1px 0px 1px;
	border-left: 1px solid #202220;
	border-right: 1px solid #EDF3F0;
	font-family: 'Consolas', 'Lucida Sans Unicode', 'Tahoma';
	font-size:11px;
}
div.gridbox_sbdark table.row20px tr td {
	padding: 0px 5px !important;
	text-indent:1px
}
div.gridbox_sbdark .dhx_combo_edit {
	font-family: 'Lucida Sans Unicode', 'Tahoma';
	font-size:11px
}
div.gridbox_sbdark table.obj tr.rowselected td, div.gridbox_sbdark table.obj tr:hover, div.gridbox_sbdark .odd_light:hover {
	background-color: #8A8F84;
	color: white !important
}
div.gridbox_sbdark table.obj tr.rowselected td.cellselected, div.gridbox_sbdark table.obj td.cellselected {
	background-color:#8A8F84
}
div.gridbox_sbdark .cellselected {
	background-color: #6e6f64 !important;
}
div.gridbox_sbdark .ev_sbdark {
	background-color: #FFFFFF
}
div.gridbox_sbdark .odd_sbdark {
	background-color:#EDF3F0
}
.dhtmlx_live_validation_error {
	background-color:#FFE0E0 !important
}
.dhtmlx_validation_error {
	border-bottom:2px solid red !important
}
.dhx_header_cmenu {
	background-color:#ffffff;
	border:2px outset silver;
	z-index:2
}
.dhx_header_cmenu_item {
	white-space:nowrap
}
div.gridbox_dhx_skyblue div.ftr td {
	text-align:right;
	background-image:url(./imgs/sky_blue_grid.gif);
	border-color:#A4BED4
}
.defaultTreeTable {
	margin : 0px;
	padding : 0px;
	border : 0px
}
.containerTableStyle {
	overflow : auto;
	position:relative;
	top:0;
	font-size : 13px
}
.containerTableStyleRTL span {
	direction: rtl;
	unicode-bidi: bidi-override
}
.containerTableStyleRTL {
	direction: rtl;
	overflow : auto;
	position:relative;
	top:0;
	font-size : 12px
}
.standartTreeRow {
	/*font-size:12px;*/
	/*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/

	-moz-user-select: none
}
.selectedTreeRow {
	background-color : navy;
	color:white;
	/*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/

	/*font-size:12px;*/
	-moz-user-select: none
}
.dragAndDropRow {
	background-color : navy;
	color:white;
}
.standartTreeRow_lor {
	text-decoration:underline;
	background-color : #FFFFF0;
    /*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
	/*font-size:12px;*/
	-moz-user-select: none
}
.selectedTreeRow_lor {
	text-decoration:underline;
	background-color : navy;
	color:white;
    /*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
	/*font-size:12px;*/
	-moz-user-select: none
}
.standartTreeImage {
	width:18px;
	height:18px;
	overflow:hidden;
	border:0;
	padding:0;
	margin:0;
	font-size:1px
}
.hiddenRow {
	width:1px;
	overflow:hidden
}
.dragSpanDiv, .dragSpanDiv td {
	font-size : 12px;
	background-color:white;
	z-index:999;
    /*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
    padding:2px;
    /*font: 14px "Trebuchet MS", Helvetica, sans-serif;*/
}
.a_dhx_hidden_input {
	position:absolute;
	top:-1px;
	left:-1px;
	width:1px;
	height:1px;
	border:none;
	background:none
}
.a_dhx_hidden_input {
	position:absolute;
	top:-1px;
	left:-1px;
	width:1px;
	height:1px;
	border:none;
	background:none
}
.selectionBox {
	background-color: #FFFFCC
}
.selectionBar {
	top:0;
	background-color: Black;
	position:absolute;
	overflow:hidden;
	height: 2px;
	z-index : 11
}
.intreeeditRow {
	width:100%;
	font-size:8pt;
	height:16px;
	border:1px solid silver;
	padding:0;
	margin:0;
	-moz-user-select: text;
}
.dhx_tree_textSign {
	font-size:8pt;
	font-family:monospace;
	width:21px;
	color:black;
	padding:0px;
	margin:0px;
	cursor:pointer;
	text-align: center
}
.dhx_tree_opacity {
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity=0)
}
.dhx_bg_img_fix {
	width:18px;
	height:18px;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: center;
	background-position-y: center
}
.dhxtree_dhx_black, .dhxtree_dhx_skyblue {
	background:white;
	color:black
}
*html .dhxtree_dhx_skyblue .standartTreeRow {
	border-right:1px solid pink;
	border-left: 1px solid pink;
	filter: chroma(color=pink)
}
.dhxtree_dhx_skyblue .standartTreeRow {
	border-right:1px solid transparent;
	border-left: 1px solid transparent;
    /*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
	font-size:13px !important;
	overflow:hidden;
	padding:0px 0px 0px 0px
}
.dhxtree_dhx_skyblue .standartTreeRow_lor {
    /*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
	font-size:13px !important
}
.dhxtree_dhx_skyblue .selectedTreeRow_lor, .dhxtree_dhx_skyblue .selectedTreeRow {
    background-color:white;
	background-image:none;
	background-repeat:repeat-x;
    border:1px solid transparent;
	color:black;
	padding:0px 0px 0px 0px;
	/*height:17px;*/
	font-size:13px !important;
    margin-bottom:3px;
    /*FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font: 16px "Trebuchet MS", Helvetica, sans-serif;*/
	overflow:hidden
}
html > body .dhxtree_dhx_skyblue .selectedTreeRow {
	padding:1px 0px 1px 0px;
	line-height:normal;
display:inline-block !ie;
	height:13px
}
body:nth-of-type(1) .dhxtree_dhx_skyblue .selectedTreeRow {
	display:inline-block
}

/* dhtmlxWindows */

/* viewport */
div.dhtmlx_winviewport {
	position: absolute;
	/* border: #909090 1px dashed; */
	overflow: hidden;
}
/* main container */
div.dhtmlx_window_active {
	position: absolute;
	overflow: hidden;
}
div.dhtmlx_window_inactive {
	position: absolute;
	overflow: hidden;
}
/* content cover */
div.dhx_content_cover_blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/*
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #909090;
	*/
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #FFFFFF;
}
/* cover for modal windows */
iframe.dhx_modal_cover_ifr {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background-color: #FFFFFF;
}
div.dhx_modal_cover_dv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border: none;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #EEEEEE; /*#D3E7FF;*/
}
iframe.dhx_ie6_wincover_forsel {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	filter: alpha(opacity=0);
	background-color: #FFFFFF;
	z-index: -1;
}
/* content cover */
div.dhx_carcass_resmove {
	position: absolute;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #E0E0E0;
	border: #909090 1px solid;
}
/* cover for vp for move/resize */
div.dhx_content_vp_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background-color: #FFFFFF;
}

/* 2.1 EDITION UPDATES */
/* ie6 iframe to fix select overlaping */
iframe.dhtmlx_wins_ie6_cover_fix {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	filter: alpha(opacity=0);
	background-color: #FFFFFF;
}

div.dhxcont_content_blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101%;
	height: 101%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #FFFFFF;
	z-index: 1;
	-moz-user-select: none;
}

.dhtmlxcalendar {
	background: url(/dhtmlx/imgs/cal_bg_single.gif) no-repeat;
	border: 0px solid green;
	font-family: "Trebuchet MS";
	z-index:99;
	height:146px;
	width:146px;
	padding:16px
}
.dhtmlxcalendar_ifr, .dhtmlxcalendar_mini_ifr, .dhtmlxcalendar_maxi_ifr, .dhtmlxcalendar_long_ifr {
	height:173px;
	width:178px
}
.dhtmlxcalendar_maxi_ifr {
	height: 176px
}
.dhtmlxcalendar_long {
	background: url(/dhtmlx/imgs/cal_bg_single_long.gif) no-repeat;
	height: 190px
}
.dhtmlxcalendar_long_ifr {
	height: 190px
}
.dhtmlxcalendar_mini {
	background: url(/dhtmlx/imgs/cal_bg_single_mini.gif) no-repeat;
	height:25px;
	width:146px
}
.dhtmlxcalendar_mini_ifr {
	height: 25px
}
.dhtmlxcalendar_mini .winHeader {
	margin-top:0px;
	-moz-user-select:none
}
.dhtmlxcalendar .winHeader {
	height: 13px;
	width:146px;
	-moz-user-select:none;
	border: 0;
	margin-top:-11px;
	margin-bottom: 12px
}
.dhtmlxcalendar .winTitle {
	color:black;
	font-size:11px;
	float:left;
	cursor: move;
	width: 100px
}
.dhtmlxcalendar .btn_maxi, .dhtmlxcalendar .btn_mini, .dhtmlxcalendar .btn_close, .dhtmlxcalendar .btn_today, .dhtmlxcalendar .btn_clear {
	background: url(/dhtmlx/imgs/btns.gif);
	float:right;
	height:12px;
	width:12px;
	margin-left: 1px;
	font-size: 0
}
.dhtmlxcalendar .btn_close {
	background-position: 0 0
}
.dhtmlxcalendar .btn_today {
	background-position: -12px 0
}
.dhtmlxcalendar .btn_clear {
	background-position: -24px 0
}
.dhtmlxcalendar .btn_maxi {
	background-position: -36px 0
}
.dhtmlxcalendar .btn_mini {
	background-position: -48px 0
}
.dhtmlxcalendar .entbox {
	width:145px;
	clear:both
}
.dhtmlxcalendar td {
	font-size: 10px;
	font-family: Tahoma;
	text-align:center
}
.dhtmlxcalendar .dxcalmonth td.month_btn_left, .dhtmlxcalendar .dxcalmonth td.month_btn_right {
	background: url(/dhtmlx/imgs/btns.gif) no-repeat;
	background-position:-60px;
	width:8px
}
.dhtmlxcalendar .dxcalmonth td.month_btn_right {
	background-position:-68px
}
.dhtmlxcalendar .dxcalmonth td.month_btn_left span, .dhtmlxcalendar .dxcalmonth td.month_btn_right span {
	visibility: hidden
}
.dhtmlxcalendar .dxcalmonth table {
	margin: auto
}
.dhtmlxcalendar .dxcaldlabel {
	border-bottom: 1px solid #7e7e7e;
	color:#7e7e7e;
	border-top: 0px;
	padding-left:2px
}
.dhtmlxcalendar .dxcaldlabel td, .dhtmlxcalendar .dxcaldays td, .dhtmlxcalendar .dxcaldays_ie td {
	font-size: 10px;
	font-family: Tahoma;
	text-align: center;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	color: #7e7e7e
}
.dhtmlxcalendar .dxcaldays td, .dhtmlxcalendar .dxcaldays_ie td {
	border: 0px;
	cursor: pointer
}
.dhtmlxcalendar .dxcaldays_ie td {
	height:19px
}
.dhtmlxcalendar td.comma {
	visibility:visible
}
.dhtmlxcalendar div.planeMonth, .dhtmlxcalendar div.planeYear {
	height: auto;
	overflow: hidden
}
div.dhtmlxcalendar div.planeYear {
	display:inline;
	width:28px
}
.dhtmlxcalendar td.thismonth {
	color:black;
	padding:1px
}
.dhtmlxcalendar td.othermonth {
	visibility:hidden;
}
.dhtmlxcalendar td.weekend {
	color:#a70000;
	padding:1px
}
.dhtmlxcalendar td.insensitive {
	color:#b5b5b5;
	cursor: default;
	padding:1px
}
.dhtmlxcalendar td.selected {
	background-color: #36b1df;
	color:white !important
}
.dhtmlxcalendar td.current {
	font-weight:bold !important;
	color:black
}
.dhtmlxcalendar td.hover {
	border:1px solid #b5b5b5;
	color: #000000;
	padding:0px
}
.dhtmlxcalendar td.holiday {
	font-weight:bold;
	color:#a70000
}
.dhtmlxdblcalendar {
	background: url(/dhtmlx/imgs/cal_bg_double.gif) no-repeat;
	z-index:100;
	padding: 0px
}
.dhtmlxdblcalendar .dhtmlxcalendar {
	background-image: url(/dhtmlx/imgs/blank.gif)
}
.dhtmlxcalendar div.dhtmlxRichSelector {
	position: relative;
	background-color:#ffffff;
	display: block;
	width: 1px;
	height: 1px
}
.dhtmlxcalendar textarea.dhtmlxRichSelector, .dhtmlxcalendar select.dhtmlxRichSelector {
	font-family: Tahoma;
	position: absolute;
	font-size: 10px;
	overflow: hidden;
	border-width: 0px;
	z-index:100;
	left: 0px;
	top: 0px
}
.dhtmlxcalendar select.dhtmlxRichSelector {
	border: 1px solid #555555
}
.dhtmlxcalendar_yahoolike {
	background: url(/dhtmlx/imgs//__dhxCal_skin_Yahoolike/cal_bg_single.gif) no-repeat;
	border: 1px solid gray;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:small;
	background-color: #f7f9fb;
	width:178px;
	height:166px;
	padding:5px;
	z-index:99
}
.dhtmlxcalendar_yahoolike_mini {
	background-color: #f7f9fb;
	height:13px
}
.dhtmlxcalendar_yahoolike_maxi {
	height:178px
}
.dhtmlxcalendar_yahoolike_ifr, .dhtmlxcalendar_yahoolike_mini_ifr, .dhtmlxcalendar_yahoolike_maxi_ifr {
	height:184px;
	width:188px
}
.dhtmlxcalendar_yahoolike_maxi_ifr {
	height:195px
}
.dhtmlxcalendar_yahoolike_mini_ifr {
	height:26px
}
.dhtmlxcalendar_yahoolike_mini .winHeader {
	-moz-user-select: none
}
.dhtmlxcalendar_yahoolike .winHeader {
	height: 16px;
	margin-bottom: 3px;
	width:178px;
	-moz-user-select:none
}
.dhtmlxcalendar_yahoolike .winTitle {
	color:#575757;
	font-size:12px;
	float:left;
	cursor: move;
	width: 100px;
	margin-top: -1px;
	overflow: hidden
}
.dhtmlxcalendar_yahoolike .btn_mini, .dhtmlxcalendar_yahoolike .btn_maxi, .dhtmlxcalendar_yahoolike .btn_close, .dhtmlxcalendar_yahoolike .btn_today, .dhtmlxcalendar_yahoolike .btn_clear {
	background: url(/dhtmlx/imgs//__dhxCal_skin_Yahoolike/btns.gif) no-repeat;
	float:right;
	height:12px;
	width:12px;
	margin-left: 1px
}
.dhtmlxcalendar_yahoolike .btn_close {
	background-position: 0 0
}
.dhtmlxcalendar_yahoolike .btn_today {
	background-position: -12px 0
}
.dhtmlxcalendar_yahoolike .btn_clear {
	background-position: -24px 0
}
.dhtmlxcalendar_yahoolike .btn_maxi {
	background-position: -36px 0
}
.dhtmlxcalendar_yahoolike .btn_mini {
	background-position: -48px 0
}
.dhtmlxcalendar_yahoolike .entbox {
	margin:3px 3px 3px 3px;
	width:172px
}
.dhtmlxcalendar_yahoolike td {
	font-size: 9px;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}
.dhtmlxcalendar_yahoolike .dxcalmonth {
	background-color: #f7f9fb;
	border: 0px solid #e0e0e0
}
.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_left, .dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_right {
	background: url(/dhtmlx/imgs//__dhxCal_skin_Yahoolike/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 9px
}
.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_right {
	background-position: -69px 0
}
.dhtmlxcalendar_yahoolike .dxcaldlabel {
	border-width: 0px
}
.dhtmlxcalendar_yahoolike .dxcaldlabel td, .dhtmlxcalendar_yahoolike .dxcaldays td, .dhtmlxcalendar_yahoolike .dxcaldays_ie td {
	font-size: 10pt;
	text-align: left;
	vertical-align: middle;
	width: 20px;
	height: 17px;
	color: #666
}
.dhtmlxcalendar_yahoolike .dxcaldays_ie td {
	height: 18px
}
.dhtmlxcalendar_yahoolike .dxcaldays td, .dhtmlxcalendar_yahoolike .dxcaldays_ie td {
	border: 1px solid #e0e0e0;
	background-color: #fff;
	text-align: center;
	cursor: pointer
}
.dhtmlxcalendar_yahoolike td.comma {
	visibility:hidden
}
.dhtmlxcalendar_yahoolike .dxcalmonth table {
	margin: auto
}
.dhtmlxcalendar_yahoolike div.planeMonth, .dhtmlxcalendar_yahoolike div.planeYear {
	height: auto;
	overflow: auto;
	font-size:12px;
	font-weight: bold
}
.dhtmlxcalendar_yahoolike td.thismonth {
	color:#003db8
}
.dhtmlxcalendar_yahoolike td.othermonth {
	color:#999;
	background-color:#eee;
	visibility: visible
}
.dhtmlxcalendar_yahoolike td.weekend {
	color:#003db8
}
.dhtmlxcalendar_yahoolike td.insensitive {
	color:#ccc;
	font-style:italic;
	cursor: default
}
.dhtmlxcalendar_yahoolike td.selected {
	border:1px solid white;
	background-color: lightblue;
	color: #ffffff
}
.dhtmlxcalendar_yahoolike td.current {
	color: #00c;
	font-weight:bold !important
}
.dhtmlxcalendar_yahoolike td.hover {
	border:1px solid #426FD9;
	background-color: #426FD9;
	color: white
}
.dhtmlxcalendar_yahoolike td.holiday {
	font-weight:bold;
	color:#00c;
	text-decoration:underline
}
.dhtmlxcalendar_yahoolike div.dhtmlxRichSelector {
	position: relative;
	background-color:#ffffff;
	display: block;
	width: 1px;
	height: 1px
}
.dhtmlxcalendar_yahoolike textarea.dhtmlxRichSelector, .dhtmlxcalendar_yahoolike select.dhtmlxRichSelector {
	position: absolute;
	font-family: "Trebuchet MS";
	font-size: 10pt;
	overflow: hidden;
	border-width: 0px;
	z-index:100;
	left: 0px;
	top: 0px
}
.dhtmlxcalendar_yahoolike select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd
}
.dhx_combo_img {
	position:absolute;
	top:0px;
	right:0px;
	width:18px;
	height:20px
}
.dhx_combo_option_img {
	position:relative;
	top:1px;
	margin-left:2px;
	left:0px;
	width:18px;
	height:18px
}
.dhx_combo_input {
	color:#333333;
	font-family: "Trebuchet MS";
	font-size: 9pt;
	border:0px;
	padding:2px 2px 2px 2px;
	position:absolute;
	top:0px
}
.dhx_combo_box {
	position:relative;
	text-align:left;
	border:1px solid #7F9DB9;
	height:20px;
	_height:22px;
	overflow:hidden;
	background-color: white
}
.dhx_combo_list {
	position:absolute;
	z-index:230;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid black;
	height:100px;
	font-family: "Trebuchet MS";
	font-size: 9pt;
	background-color: white
}
.dhx_combo_list div {
	cursor:default;
	padding:2px 2px 2px 2px
}
.dhx_selected_option {
	background-color:navy;
	color:white
}
.dhx_combo_img_rtl {
	position:absolute;
	top:0px;
	left:1px;
	width:17px;
	height:20px
}
.dhx_combo_option_img_rtl {
	float:right;
	margin-right :0px;
	width:18px;
	height:18px
}
.dhx_combo_list_rtl {
	direction: rtl;
	unicode-bidi : bidi-override;
	position:absolute;
	z-index:230;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid black;
	height:100px;
	font-family: "Trebuchet MS";
	font-size: 9pt;
	background-color: white
}
.dhx_combo_list_rtl div {
	direction: rtl;
	unicode-bidi : bidi-override;
	padding:2px 2px 2px 2px
}
.dhx_combo_list_rtl div div {
	float :right !important;
	cursor:default;
}
.dhx_combo_list_rtl div img {
	float :right !important
}
.dhx_combo_list_rtl div input {
	float :right !important
}
.dhx_combo_box.dhx_skyblue {
	border:1px solid #a4bed4
}
.dhx_combo_list.dhx_skyblue_list {
	background-color: #eaf2fb;
	border:1px solid #a4bed4
}
.dhx_combo_list_rtl.dhx_skyblue_list {
	background-color: #eaf2fb;
	border:1px solid #a4bed4
}
.combo_dhx_skyblue_sel {
	background-image: url('/dhtmlx/imgs/bg_selection.gif') !important;
	background-position: bottom;
	background-repeat: repeat-x;
	color:black
}
.dhtmlxSlider {
	position:relative;
	overflow:hidden;
	height:14px;
	left:10px;
}
.dhtmlxSlider .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:31px;
	left:5px
}
.dhtmlxSlider .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:3px;
	height:100%
}
.dhtmlxSlider .leftZone {
	position:absolute;
	top:0px;
	left:3px;
	height:100%
}
.dhtmlxSlider .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:3px;
	height:100%
}
.dhtmlxSlider .rightZone {
	position:absolute;
	left:3px;
	top:0px;
	height:100%
}
.dhtmlxSlider_ball {
	position:relative;
	overflow:hidden;
	height:16px;
	left:10px;
}
.dhtmlxSlider_ball .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:16px;
	left:5px
}
.dhtmlxSlider_ball .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:3px;
	height:100%
}
.dhtmlxSlider_ball .leftZone {
	position:absolute;
	top:0px;
	left:3px;
	height:100%
}
.dhtmlxSlider_ball .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:4px;
	height:100%
}
.dhtmlxSlider_ball .rightZone {
	position:absolute;
	left:3px;
	top:0px;
	height:100%
}
.dhtmlxSlider_zipper {
	position:relative;
	overflow:hidden;
	height:17px;
	left:10px;
}
.dhtmlxSlider_zipper .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:17px;
	left:0px
}
.dhtmlxSlider_zipper .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:3px;
	height:100%
}
.dhtmlxSlider_zipper .leftZone {
	position:absolute;
	top:0px;
	left:0px;
	height:100%
}
.dhtmlxSlider_zipper .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:4px;
	height:100%
}
.dhtmlxSlider_zipper .rightZone {
	position:absolute;
	left:3px;
	top:0px;
	height:100%
}
.dhtmlxSlider_simplesilver {
	position:relative;
	overflow:hidden;
	height:16px;
	left:10px;
}
.dhtmlxSlider_simplesilver .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:15px;
	left:0px
}
.dhtmlxSlider_simplesilver .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_simplesilver .leftZone {
	position:absolute;
	top:0px;
	left:1px;
	height:100%
}
.dhtmlxSlider_simplesilver .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_simplesilver .rightZone {
	position:absolute;
	left:3px;
	top:0px;
	height:100%
}
.dhtmlxSlider_simplegray {
	position:relative;
	overflow:hidden;
	height:16px;
	left:10px;
}
.dhtmlxSlider_simplegray .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:15px;
	left:0px
}
.dhtmlxSlider_simplegray .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_simplegray .leftZone {
	position:absolute;
	top:0px;
	left:1px;
	height:100%
}
.dhtmlxSlider_simplegray .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_simplegray .rightZone {
	position:absolute;
	left:3px;
	top:0px;
	height:100%
}
.dhtmlxSlider_bar {
	position:relative;
	overflow:hidden;
	height:21px;
	left:10px;
}
.dhtmlxSlider_bar .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:15px;
	left:17px
}
.dhtmlxSlider_bar .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:17px;
	height:100%
}
.dhtmlxSlider_bar .leftZone {
	position:absolute;
	top:0px;
	left:1px;
	height:100%
}
.dhtmlxSlider_bar .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:17px;
	height:100%
}
.dhtmlxSlider_bar .rightZone {
	position:absolute;
	left:3px;
	top:0px;
	height:100%
}
.dhtmlxSlider_arrow {
	position:relative;
	overflow:hidden;
	height:14px;
	left:10px;
}
.dhtmlxSlider_arrow .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:7px;
	left:1px
}
.dhtmlxSlider_arrow .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_arrow .leftZone {
	position:absolute;
	top:0px;
	left:1px;
	height:100%
}
.dhtmlxSlider_arrow .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_arrow .rightZone {
	position:absolute;
	left:1px;
	top:0px;
	height:100%
}
.dhtmlxSlider_arrowgreen {
	position:relative;
	overflow:hidden;
	height:21px;
	left:10px;
}
.dhtmlxSlider_arrowgreen .selector {
	position:absolute;
	overflow:hidden;
	height:100%;
	width:11px;
	left:1px
}
.dhtmlxSlider_arrowgreen .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_arrowgreen .leftZone {
	position:absolute;
	top:0px;
	left:1px;
	height:100%
}
.dhtmlxSlider_arrowgreen .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:1px;
	height:100%
}
.dhtmlxSlider_arrowgreen .rightZone {
	position:absolute;
	left:1px;
	top:0px;
	height:100%
}
.dhtmlxSlider_dhx_skyblue {
	position:relative;
	overflow:hidden;
	height:15px;
	left:10px;
}
.dhtmlxSlider_dhx_skyblue .selector {
	position:absolute;
	overflow:hidden;
	height:15px;
	width:15px;
	left:0px
}
.dhtmlxSlider_dhx_skyblue .leftSide {
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:100%
}
.dhtmlxSlider_dhx_skyblue .leftZone {
	position:absolute;
	top:0px;
	left:0px;
	height:100%
}
.dhtmlxSlider_dhx_skyblue .rightSide {
	position:absolute;
	right:0px;
	top:0px;
	width:0px;
	height:100%
}
.dhtmlxSlider_dhx_skyblue .rightZone {
	position:absolute;
	left:3px;
	top:0px;
	height:100%
}
/* DHX ENGINE */
/* DHX2009 SKYBLUE THEME */

/* active window */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_body_outer {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	abackground-color: #FFFFFF;
	background-color: #c2d5dc;
	background-image: url("/dhtmlx/imgs/dhxwins_dhx_skyblue/active/header_bg.gif");
	background-repeat: repeat-x;
	background-position: top;
	border: #a4bed4 1px solid;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_body_outer div.dhtmlx_wins_body_inner {
	position: absolute;
	overflow: hidden;

	aborder: #c2d5dc 5px solid;
	aborder: #a4bed4 1px solid;
	aborder-top: none;

	background-color: #ebebeb !important;
	border: #ebebeb 2px solid !important;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active .dhtmlx_wins_no_header { /* will added to div.dhtmlx_wins_body_inner in case of no header */
	border-top: #c2d5dc 6px solid !important;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_title {
	position: absolute;
	top: 0px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	padding-left: 28px;
	left: 0px;
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
}
/* active progress */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_progress {
	background-image: url("/dhtmlx/imgs/dhxwins_dhx_skyblue/active/progress.gif");
}


/* active buttons */
/* close */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_default {
	background-position: -96px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_disabled {
	background-position: -96px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_over_default {
	background-position: -96px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_over_pressed {
	background-position: -96px -32px;
}
/* minmax1 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_default {
	background-position: -64px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_disabled {
	background-position: -64px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_default {
	background-position: -64px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_pressed {
	background-position: -64px -32px;
}
/* minmax2 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_default {
	background-position: -80px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_disabled {
	background-position: -80px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_default {
	background-position: -80px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_pressed {
	background-position: -80px -32px;
}
/* park */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_default {
	background-position: -48px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_disabled {
	background-position: -48px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_over_default {
	background-position: -48px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_over_pressed {
	background-position: -48px -32px;
}
/* stick */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_default {
	background-position: 0px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_disabled {
	background-position: 0px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_over_default {
	background-position: 0px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_over_pressed {
	background-position: 0px -32px;
}
/* sticked */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_default {
	background-position: -16px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_disabled {
	background-position: -16px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_default {
	background-position: -16px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_pressed {
	background-position: -16px -32px;
}
/* help */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_default {
	background-position: -32px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_disabled {
	background-position: -32px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_over_default {
	background-position: -32px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_over_pressed {
	background-position: -32px -32px;
}
/* dock */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_default {
	background-position: -112px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_disabled {
	background-position: -112px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_over_default {
	background-position: -112px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_over_pressed {
	background-position: -112px -32px;
}


/* inactive window */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_body_outer {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	background-color: #dbe6f3;
	background-image: url("/dhtmlx/imgs/dhxwins_dhx_skyblue/inactive/header_bg.gif");
	background-repeat: repeat-x;
	background-position: top;
	border: #c9d9e6 1px solid;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_body_outer div.dhtmlx_wins_body_inner {
	position: absolute;
	overflow: hidden;
	aaborder: #dbe6f3 5px solid;
	border-top: none;
	aabackground-color: #FFFFFF;
	background-color: #ebebeb !important;
	border: #ebebeb 2px solid !important;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive .dhtmlx_wins_no_header { /* will added to div.dhtmlx_wins_body_inner in case of no header */
	border-top: #c2d5dc 6px solid;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_title {
	position: absolute;
	top: 0px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	padding-left: 28px;
	left: 0px;
	color: #686868;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
}
/* inactive progress */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_progress {
	background-image: url("/dhtmlx/imgs/dhxwins_dhx_skyblue/inactive/progress.gif");
}
/* inactive butons */
/* close */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_default {
	background-position: -96px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_disabled {
	background-position: -96px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_over_default {
	background-position: -96px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_over_pressed {
	background-position: -96px -96px;
}
/* minmax1 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_default {
	background-position: -64px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_disabled {
	background-position: -64px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_default {
	background-position: -64px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_pressed {
	background-position: -64px -96px;
}
/* minmax2 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_default {
	background-position: -80px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_disabled {
	background-position: -80px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_default {
	background-position: -80px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_pressed {
	background-position: -80px -96px;
}
/* park */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_default {
	background-position: -48px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_disabled {
	background-position: -48px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_over_default {
	background-position: -48px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_over_pressed {
	background-position: -48px -96px;
}
/* stick */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_default {
	background-position: 0px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_disabled {
	background-position: 0px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_over_default {
	background-position: 0px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_over_pressed {
	background-position: 0px -96px;
}
/* sticked */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_default {
	background-position: -16px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_disabled {
	background-position: -16px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_default {
	background-position: -16px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_pressed {
	background-position: -16px -96px;
}
/* help */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_default {
	background-position: -32px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_disabled {
	background-position: -32px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_over_default {
	background-position: -32px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_over_pressed {
	background-position: -32px -96px;
}
/* dock */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_default {
	background-position: -112px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_disabled {
	background-position: -112px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_over_default {
	background-position: -112px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_over_pressed {
	background-position: -112px -96px;
}

/* common */
/* content blocker */
/*
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_main_content_blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101%;
	height: 101%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #FFFFFF;
	z-index: 1;
	-moz-user-select: none;
}
*/
/* window icon */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_icon {
	position: absolute;
	top: 7px;
	left: 8px;
	width: 16px;
	height: 16px;
	border: none;
	z-index: 1;
	-moz-user-select: none;
	background-repeat: no-repeat;
	font-size: 1px;
}
/* buttons */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_btns {
	position: absolute;
	right: 5px;
	top: 6px;
	font-size: 1px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_btns div.dhtmlx_wins_btns_button {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url("/dhtmlx/imgs/dhxwins_dhx_skyblue/buttons.gif");
}
/*
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_main_content {
	position: relative;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
*/
/* resizers */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_t {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 5px; /* should be generated by script */
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_l {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px; /* should be generated by script */
	height: 100%;
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_r {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 5px; /* should be generated by script */
	height: 100%;
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_b {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 5px; /* should be generated by script */
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
/* progress */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_progress {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}
/* statusbar */
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container {
	position: relative;
	height: 24px;
}
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container div.dhxcont_statusbar {
	position: relative;
	top: 2px;
	height: 22px;
	line-height: 22px;
	background-image: url("/dhtmlx/imgs/dhxwins_dhx_skyblue/statusbar_bg.gif");
	background-repeat: repeat-x;
	width: auto;
	padding: 0px 4px;
	overflow: hidden;
	white-space: nowrap;
	border-top: none;
	border-bottom: none;
	border-left: #a4bed4 1px solid;
	border-right: #a4bed4 1px solid;
	font-family: Tahoma;
	font-size: 11px;
	vertical-align: middle;
	color: #000000;
}
/*
.dhtmlx_skin_dhx_skyblue div.dhxcont_statusbar {
	position: absolute;
	width: 100%;
	bottom: 0px;
	_bottom: -1px;
	border-top: #c2d5dc 1px solid;
	background-image: url("/dhtmlx/imgs/dhxwins_dhx_skyblue/statusbar_bg.gif");
	background-repeat: repeat-x;
	width: 100%;
	overflow: hidden;
	font-family: Tahoma;
	font-size: 11px;
	vertical-align: middle;
	line-height: 17px;
	-moz-user-select: none;
	cursor: default;
	padding-left: 4px;
	color: #7393ae;
}
*/


.dhtmlx_skin_dhx_skyblue div.white_line {
	border-left: #FFFFFF 1px solid;
	border-right: #FFFFFF 1px solid;
	border-top: #FFFFFF 1px solid;
	height: 100%;
}
.dhtmlx_skin_dhx_skyblue div.white_line2 {
	position: absolute;
	bottom: 0px;
	height: 10px;
	width: 100%;
	border-bottom: #FFFFFF 1px solid;
	font-size: 1px;
}

.dhtmlx_skin_dhx_skyblue .dhtmlxMenu_in_Window {
	aborder-bottom: #cedce8 1px solid;
	border-bottom: #a4bed4 1px solid;
}
.coshh-table {
	font-family: Verdana, "Times New Roman", Times, serif;
	font-size:12px;
	border: 0px solid #D5D5D5;
}
.coshh-table th {
	font-family: Verdana, "Times New Roman", Times, serif;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	color:#000000;
	padding:5px;
	border-bottom:0px solid #D5D5D5;
	padding-bottom:15px;
}
.coshh-table th.sub-style-heading {
	font-family: Verdana, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	padding:5px;
	border-bottom:0px solid #D5D5D5;
	padding-bottom:5px;
}
.coshh-table .padded-cell {
	color: #666666;
	font-size:12px;
	padding:10px;
	font-family: Verdana, "Times New Roman", Times, serif;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	font-family:Verdana, "Times New Roman", Times, serif;
	font-size:12px;
}
.coshh-table .padded-cell-5 {
	color: #666666;
	font-size:12px;
	padding:5px;
	font-family: Verdana, "Times New Roman", Times, serif;
}
.coshh-table .sub-header {
	padding: 5px;
	padding-left: 10px;
	font-weight: normal;
	background-color:#F5F5E5;
	color:#666666;
	border-bottom:0px solid #D5D5D5;
	font-family:Verdana, Geneva, sans-serif;
}
.coshh-table .sub-header-left {
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	background-color:#F9F9F9;
	color:#666666;
	border-bottom:0px solid #D5D5D5;
	border-left:0px solid #D5D5D5;
}
.coshh-table .sub-header-top {
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	background-color:#F9F9F9;
	color:#666666;
	border-top:1px solid #D5D5D5;
}
.coshh-table .sub-header-last {
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	background-color:#F9F9F9;
	color:#666666;
}
.coshh-table .sub-header-last-left {
	border-left:0px solid #D5D5D5;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	background-color:#F9F9F9;
	color:#666666;
}
.coshh-table .sub-header-text {
	font-family: Verdana, "Times New Roman", Times, serif;
	border-bottom:0px solid #D5D5D5;
	border-right:0px solid #D5D5D5;
	padding:5px;
	color: #666666;
}
.coshh-table .sub-header-text-bottom {
	border-bottom:0px solid #D5D5D5;
	padding:5px;
	color: #666666;
}
.coshh-table .sub-header-text-last {
	border-right:0px solid #D5D5D5;
	padding:5px;
	color: #666666;
}
.coshh-table .sub-header-text-last-none {
	border-right:0px solid #D5D5D5;
	padding:5px;
	color: #666666;
}
.coshh-table .sub-header-text-top {
	border-top:0px solid #D5D5D5;
	padding:5px;
	color: #666666;
}
.coshh-table .sub-header-left-bottom {
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	background-color:#F9F9F9;
	color:#666666;
	border-bottom:0px solid #D5D5D5;
	border-left:0px solid #D5D5D5;
}
.substance-table {
	font-family: Verdana, "Times New Roman", Times, serif;
	font-size:12px;
	border: 1px solid #C5C5C5;
	margin-top:0px;
}
.substance-table th {
	font-family: Verdana, "Times New Roman", Times, serif;
	font-size:12px;
	font-weight:normal;
	background-color:#F5F5F5;
	color:#393939;
	padding:5px;
	padding-left: 10px;
	border-bottom:0px solid #D5D5D5;
	text-align:left;
}
.substance-table td {
	font-family: Verdana, "Times New Roman", Times, serif;
	border-bottom:0px solid #D5D5D5;
	border-right:0px solid #D5D5D5;
	padding:5px;
	padding-left: 10px;
	color: #666666;
	vertical-align:text-top;
	vertical-align:middle;
}
.substance-table tr.d0 td {
	background-color: none;
}
.substance-table tr.d1 td {
	background-color: #F7FBFF;
}
.substance-table tr td.vtop {
	vertical-align:text-top;
}
.bluelink-report:link {
	FONT-SIZE: 12px;
	COLOR: #36F;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
}
.bluelink-report:visited {
	FONT-SIZE: 12px;
	COLOR: #36F;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
}
.bluelink-report:hover {
	FONT-SIZE: 12px;
	COLOR: #F00;
	text-decoration:underline;
	font-family:Verdana, Geneva, sans-serif;
}
/**********************************

Use: Main Screen Import
Author: Nick Rigby

***********************************/

/**/

form, fieldset {
	margin: 0;
	padding: 0;
}
fieldset {
	border: 1px solid #000;
}
legend {
	padding: 0;
	color: #000;
}
input, textarea, select {
	margin: 0;
	padding: 1px;
	font-family: inherit;
}
select {
	padding: 0;
}
/**********************************

Use: Core Styles
Author: Nick Rigby

***********************************/
p {
	margin: 10px 0;
}
.sr {
	position: absolute;
	left: -9999em;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
a.info {
	position:relative; /*this is the key*/
	z-index:24;
	background-color:#ffffff;
	text-decoration:none
}
a.info:hover {
	z-index:25;
	background-color:#fff
}
a.info span {
	display: none
}
a.info:hover span { /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:2em;
	left:2em;
	width:350px;
	border:1px solid #C6D7DE;
	background-color:#FFFFFF;
	color:#333;
	FONT-SIZE: 13px;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	text-decoration:none;
	padding:5px;
}
/**********************************

Use: cmxform template
Author: Nick Rigby

***********************************/

form.cmxform fieldset {
	margin-bottom: 10px;
}
form.cmxform legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}
form.cmxform label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}
form.cmxform fieldset ol {
	margin: 0;
	padding: 0;
}
form.cmxform fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}
form.cmxform fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}
form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
}
form.cmxform em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}
form.cmxform label {
	width: 140px;
} /* Width of labels */
form.cmxform fieldset fieldset label {
	margin-left: 123px;
} /* Width plus 3 (html space) */
form.cmxform textarea {
	FONT-SIZE: 13px;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
	color:#666;
}
form.cmxform input {
	FONT-SIZE: 13px;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
	color:#666;
}
form.cmxform select {
	FONT-SIZE: 13px;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
	color:#666;
}
/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */
/**********************************

Name: cmxform Styles
Author: Nick Rigby

***********************************/

form.cmxform {
	width: 365px;
	color: #333;
	margin-left:10px;
	margin-bottom:0px;
}
form.cmxform legend {
	padding-left: 0;
}
form.cmxform legend, form.cmxform label {
	color: #333;
}
form.cmxform fieldset {
	border: none;
	border-top: 0px solid blue;
	background: url(/dhtmlx/imgs/cmxform-fieldset-blue.gif) left bottom repeat-x;
	margin-top:1.5em;
}
form.cmxform fieldset fieldset {
	background: none;
}
form.cmxform fieldset li {
	padding: 5px 10px 7px;
	background: url(/dhtmlx/imgs/cmxform-divider.gif) left bottom repeat-x;
}
a:link {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
form.cmxform table input {
	color:#666;
	FONT-SIZE: 13px;
	FONT-FAMILY: "Trebuchet MS", Helvetica, sans-serif;
}


.popleft {
background-image:url('img/popups/popl.png');background-repeat:no-repeat;width:10px;height:100%;float:left
}

.popright {
background-image:url('img/popups/popr.png');background-repeat:no-repeat;width:10px;height:100%;float:left
}

.popmid {
background-image:url('img/popups/popm.png');background-repeat:repeat-x;min-width:100px;max-width:300px;height:100%;float:left;
}

.poptip {
background-image:url('img/popups/popb.png');width:15px;height:12px;margin-top:53px;margin-left:20px;
}

.popcontent {
font-family:arial;font-size:12px;color:#ffffff;padding:10px;line-height:18px;
}

.popmain {
position:absolute;height:70px;z-index:9999;
}

.newbtn {
	width:39px;
	height:18px;
	position:absolute;
    margin-top:-13px;
    margin-left:-5px;
}

/*********************
* Sevron Lead Management system
*/
.panel-title{
    /*float: left;*/
    /*padding-right: 20px;*/
}