<div class="emails wid90">
    <h2><?php echo __('Create and Send Email'); ?></h2>
    <?php echo $this->element('email_elem') ?>

<!--    --><?php //echo $this->Form->end(__('Send Email')); ?>
</div>

<!--<div class="actions">-->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!--        --><?php //echo $this->Html->link(__('Cancel'), array('controller' =>'Contacts','action' => 'view',
//                $this->params['named']['contact_id'])
//            , array('role' =>'button', 'class'=>'btn btn-success')); ?>
<!---->
<!--		<li>--><?php //echo $this->Html->link(__('List Emails'), array('action' => 'index')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Contacts'), array('controller' => 'contacts', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Contact'), array('controller' => 'contacts', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Uploaded Files'), array('controller' => 'uploaded_files', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Uploaded File'), array('controller' => 'uploaded_files', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
