<div class="emails wid90">

    <legend><?php echo __($page_title); ?></legend>
    <?php
    //        debug($contacts);
    echo '<h4>'.$contacts['Contact']['FirstName'].' '.$contacts['Contact']['LastName'].', ';
    echo $contacts['Contact']['Company'].'</h4>';

    ?>
    <?php foreach ($contacts['Product'] as $product): ?>
        <?php
        if ($product['ContactsProduct']['id'] == $this->params->named['contract_id']){
            echo '<p> Product: '.$product['name'].'</p>';
            echo '<p> Renewal Date :'.$product['ContactsProduct']['contract_start'].'</p>';
            break;
        }
        ?>
    <?php endforeach; ?>
    <?php echo $this->element('email_elem') ?>

<!--<div class="actions">-->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!--        --><?php //echo $this->Html->link(__('Cancel'), array('controller' =>'Contacts','action' => 'view',
//                $this->params['named']['contact_id'])
//            , array('role' =>'button', 'class'=>'btn btn-success')); ?>
<!---->
<!--		<li>--><?php //echo $this->Html->link(__('List Emails'), array('action' => 'index')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Contacts'), array('controller' => 'contacts', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Contact'), array('controller' => 'contacts', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Uploaded Files'), array('controller' => 'uploaded_files', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Uploaded File'), array('controller' => 'uploaded_files', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
