<div class="emailTemplates index wid90">
	<h2><?php echo __('Email Templates'); ?></h2>
    <?php echo $this->Html->link(__('New Email Template'), array('action' => 'add'), array('role' =>'button', 'class'=>'btn btn-success')); ?>
    <p></p>
	<table cellpadding="0" cellspacing="0">
	<tr>
<!--			<th>--><?php //echo $this->Paginator->sort('id'); ?><!--</th>-->
			<th><?php echo $this->Paginator->sort('subject'); ?></th>
<!--			<th>--><?php //echo $this->Paginator->sort('body'); ?><!--</th>-->
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($emailTemplates as $emailTemplate): ?>
	<tr>
<!--		<td>--><?php //echo h($emailTemplate['EmailTemplate']['id']); ?><!--&nbsp;</td>-->
		<td><?php echo h($emailTemplate['EmailTemplate']['subject']); ?>&nbsp;</td>
<!--		<td>--><?php //echo h($emailTemplate['EmailTemplate']['body']); ?><!--&nbsp;</td>-->
		<td>
			<?php echo $this->Html->link($emailTemplate['User']['username'], array('controller' => 'users', 'action' => 'view', $emailTemplate['User']['id'])); ?>
		</td>
		<td><?php echo h($emailTemplate['EmailTemplate']['created']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $emailTemplate['EmailTemplate']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $emailTemplate['EmailTemplate']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $emailTemplate['EmailTemplate']['id']), array(), __('Are you sure you want to delete # %s?', $emailTemplate['EmailTemplate']['subject'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<!--<div class="actions">-->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Email Template'), array('action' => 'add')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
