<?php //print("<pre>".print_r($contact,true)."</pre>");
$this->assign('linkId', $nav_id);
//debug($contacts);
?>

<!--    <div class="clearfix">-->
<!--        <div class="pull-left">-->
<!--            --><?php //echo $this->Html->link(__('Add New Contact'),
//                array('controller' => 'Contacts', 'action' => 'add'),
//                array('role'=> "button", 'class'=>"btn btn-success")); ?>
<!--            --><?php //echo $this->Html->link(__('My Main Contacts'),
//                array('controller' => 'Contacts', 'action' => 'mainContacts'),
//                array('role'=> "button", 'class'=>"btn btn-success")); ?>
<!--            --><?php //echo $this->Html->link(__('My Archived Contacts'),
//                array('controller' => 'Contacts', 'action' => 'archives'),
//                array('role'=> "button", 'class'=>"btn btn-success")); ?>
<!--        </div>-->
<!--        <div class="pull-right">-->
<!--            --><?php //echo $this->Html->link(__('All Main Contacts'),
//                array('controller' => 'Contacts', 'action' => 'mainContacts', 'true'),
//                array('role'=> "button", 'class'=>"btn btn-success")); ?>
<!--            --><?php //echo $this->Html->link(__('All Archived Contacts'),
//                array('controller' => 'Contacts', 'action' => 'archives','true'),
//                array('role'=> "button", 'class'=>"btn btn-success")); ?>
<!--            --><?php //if($this->Session->read('Auth.User.is_admin')){
//                echo $this->Html->link(__('UnSegregated Contacts'),
//                    array('controller' => 'Contacts', 'action' => 'unsegregated'),
//                    array('role'=> "button", 'class'=>"btn btn-success"));
//            } ?>
<!--        </div>-->
<!--    </div>-->
<div class="contacts wid90" >

	<h2><?php echo __($page_title); ?></h2>
<?php echo $this->element('archives_table', array('contacts' =>$contacts)); ?>
</div>
<!--<div class="actions">-->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Contact'), array('action' => 'add')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Communications'), array('controller' => 'communications', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Communication'), array('controller' => 'communications', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Emails'), array('controller' => 'emails', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Email'), array('controller' => 'emails', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Product Fields Values'), array('controller' => 'product_fields_values', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Product Fields Value'), array('controller' => 'product_fields_values', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Uploaded Files'), array('controller' => 'uploaded_files', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Uploaded File'), array('controller' => 'uploaded_files', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Custom Field Values'), array('controller' => 'custom_field_values', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Customfield'), array('controller' => 'custom_field_values', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Products'), array('controller' => 'products', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Product'), array('controller' => 'products', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
