<div class="contacts_index">
<?php //print("<pre>".print_r($contact,true)."</pre>");
    $this->assign('linkId', $nav_id);
?>
    <div id = 'tabs' class = 'datatable'>
        <div id = 'livelead'>
            <p><h3><?php echo $page_head; ?></h3> Click on the contact’s name to access their information </p>
            <?php echo $this->element('index_contact_table', array('table_id' =>'livefeed'));?>

            <!--p>
            <?php
            echo $this->Paginator->counter(array(
            'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
            ));
            ?>	</p>
            <div class="paging">
            <?php
                echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
                echo $this->Paginator->numbers(array('separator' => ''));
                echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
            ?>
            </div-->
        </div>

    </div>
<!--div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Contact'), array('action' => 'add')); ?></li>
	</ul>
</div-->
