<div class="uploadedFiles index wid90">
	<h2><?php echo __('Generic Uploaded Files'); ?></h2>
    <?php echo $this->Html->link(__('Add New Generic File'), array('action' => 'add')
        , array('role' =>'button', 'class'=>'btn btn-success')); ?>
    <p></p>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('filename'); ?></th>
<!--			<th>--><?php //echo $this->Paginator->sort('contact_id'); ?><!--</th>-->
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($uploadedFiles as $uploadedFile): ?>
	<tr>
		<td><?php echo h($uploadedFile['UploadedFile']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($uploadedFile['User']['username'], array('controller' => 'users', 'action' => 'view', $uploadedFile['User']['id'])); ?>
		</td>
		<td><?php echo h($uploadedFile['UploadedFile']['created']); ?>&nbsp;</td>
		<td><?php echo h($uploadedFile['UploadedFile']['filename']); ?>&nbsp;</td>
<!--		<td>-->
<!--			--><?php //echo $this->Html->link($uploadedFile['Contact']['FirstName'], array('controller' => 'contacts', 'action' => 'view', $uploadedFile['Contact']['Id'])); ?>
<!--		</td>-->
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $uploadedFile['UploadedFile']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $uploadedFile['UploadedFile']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $uploadedFile['UploadedFile']['id']), array(), __('Are you sure you want to delete # %s?', $uploadedFile['UploadedFile']['filename'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<!--<div class="actions">-->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Uploaded File'), array('action' => 'add')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Contacts'), array('controller' => 'contacts', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Contact'), array('controller' => 'contacts', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Emails'), array('controller' => 'emails', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Email'), array('controller' => 'emails', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
