<div class="uploadedFiles form wid90">
<?php echo $this->Form->create('UploadedFile'); ?>
	<fieldset>
		<h2><?php echo __('Edit Generic File'); ?></h2>
		<h2><?php echo( $this->data['UploadedFile']['filename']); ?></h2>
	<?php
		echo $this->Form->input('id');
//		echo $this->Form->input('user_id');
//		echo $this->Form->input('location');
//		echo $this->Form->input('contact_id');
		echo $this->Form->input('filename');
//		echo $this->Form->input('Email');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Save File')); ?>
</div>

<!--<div class="actions">-->
<!---->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!---->
<!--		<li>--><?php //echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('UploadedFile.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('UploadedFile.id'))); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Uploaded Files'), array('action' => 'index')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Contacts'), array('controller' => 'contacts', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Contact'), array('controller' => 'contacts', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Emails'), array('controller' => 'emails', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Email'), array('controller' => 'emails', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
