<div class="uploadedFiles form wid90">
<?php echo $this->Form->create('UploadedFile', array('type'=>'file')); ?>
	<fieldset>
		<legend><?php echo __('Add Generic File'); ?></legend>
	<?php
    echo $this->Form->input('file',array('type' => 'file','label' =>'Select File to Upload'));
		echo $this->Form->input('filename');
//		echo $this->Form->input('contact_id');
//		echo $this->Form->input('Email');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Upload')); ?>
</div>
<!--<div class="actions">-->
<!--	<h3>--><?php //echo __('Actions'); ?><!--</h3>-->
<!--	<ul>-->
<!---->
<!--		<li>--><?php //echo $this->Html->link(__('List Uploaded Files'), array('action' => 'index')); ?><!--</li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Contacts'), array('controller' => 'contacts', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Contact'), array('controller' => 'contacts', 'action' => 'add')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('List Emails'), array('controller' => 'emails', 'action' => 'index')); ?><!-- </li>-->
<!--		<li>--><?php //echo $this->Html->link(__('New Email'), array('controller' => 'emails', 'action' => 'add')); ?><!-- </li>-->
<!--	</ul>-->
<!--</div>-->
