<?php
/**
 * Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 * @license MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
?>
<div class="users overview">
	<h2><?php echo __( 'Welcome'); ?> <?php echo $user[$model]['username']; ?></h2>
	<h3><?php echo __( 'Recent broadcasts'); ?></h3>
</div>