<?php
/**
 * Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 * @license MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
?>
<div class="users view">
<h2><?php echo __( 'User'); ?></h2>
	<dl><?php $i = 0; $class = ' class="altrow"';?>
		<dt<?php if ($i % 2 == 0) echo $class; ?>><?php echo __( 'Username'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class; ?>>
			<?php echo $user[$model]['username']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class; ?>><?php echo __( 'Created'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class; ?>>
			<?php echo $user[$model]['created']; ?>
			&nbsp;
		</dd>
        <dt<?php if ($i % 2 == 0) echo $class; ?>><?php echo __( 'Email Address'); ?></dt>
        <dd<?php if ($i++ % 2 == 0) echo $class; ?>>
            <?php echo $user[$model]['senders_email']; ?>
            &nbsp;
        </dd>
<!--        <dt--><?php //if ($i % 2 == 0) echo $class; ?><!-->--><?php //echo __( ''); ?><!--</dt>-->
<!--        <dd--><?php //if ($i++ % 2 == 0) echo $class; ?><!-->-->
<!--            --><?php //echo $user[$model]['created']; ?>
<!--            &nbsp;-->
<!--        </dd>-->
		<?php
		if (!empty($user['UserDetail'])) {
			foreach ($user['UserDetail'] as $section => $details) {
				foreach ($details as $field => $value) {
					echo '<dt>' . $section . ' - ' . $field . '</dt>';
					echo '<dd>' . $value . '</dd>';
				}
			}
		}
		?>
	</dl>
</div>
<?php echo $this->element('Users/sidebar'); ?>