<div class="productFields form">
<?php echo $this->Form->create('ProductField'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Product Field'); ?></legend>
	<?php
		echo $this->Form->input('label');
		echo $this->Form->input('product_id', array('type'=>'hidden', 'default'=>'1'));
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Product Fields'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Products'), array('controller' => 'products', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Product'), array('controller' => 'products', 'action' => 'add')); ?> </li>
	</ul>
</div>
